/*
 * Main Menu
 */
/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
$nav-ul-fallback: #3d3d3d;
$nav-ul-start: #585858;
$nav-ul-end: #3d3d3d;
$navlink: #eee;
$nav-li-active-start: #f9f9f9;
$nav-li-active-end: #e5e5e5;
$nav-li-border: #444;
$nav-li-last-hover: #075BB7;
*/
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* Center horizontally */
/* Button Styles */
/* Button Colors */
/* Alternate Button Colors */
/* Set width to breakpoint width */
/* Flexbox */
/* How to use Flexbox
.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}*/
/*@font-face {
	font-family: "Sorts Mill Goudy";
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot");
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.ttf") format("truetype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.woff") format("woff"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.svg#sorts_mill_goudyregular") format("svg");
	font-style: normal;
	font-weight: normal;
}*/
/* No files to import found in variables/**\/* */
/* line 2, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider a {
  text-decoration: none; }
/* line 5, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .homepage-slider-info-wrapper {
  position: absolute;
  top: 0;
  width: 100%; }
/* line 10, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .homepage-slider-info {
  margin: 1em; }
/* line 14, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .homepage-slider-title {
  margin-bottom: .5em;
  font-size: 1.5em;
  text-shadow: 0.125em 0.125em 0.5em #3b3b42; }
/* line 19, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .homepage-slider-teaser {
  font-size: .75em;
  text-shadow: 0.125em 0.125em 0.5em #3b3b42; }
/* line 23, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .homepage-slider-url {
  position: absolute;
  bottom: 0;
  left: 0; }
@media (min-width: 480px) {
  /* line 29, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-title {
    font-size: 2em;
    width: 480px;
    padding-right: 1em; }
  /* line 34, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-teaser {
    font-size: 1em;
    width: 480px;
    padding-right: 2em; } }
@media (min-width: 720px) {
  /* line 41, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-info-wrapper {
    padding: 1em; }
  /* line 44, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-title {
    font-size: 2.5em;
    width: 720px;
    padding-right: .75em; }
  /* line 49, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-teaser {
    width: 720px; }
  /* line 52, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-url {
    bottom: 3em;
    left: 1em; } }
@media (min-width: 960px) {
  /* line 58, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-info-wrapper {
    padding: 2em; }
  /* line 61, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .homepage-slider-url {
    bottom: 5em;
    left: 2em; } }
/* line 68, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .cssback {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }
/* line 76, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider .views_slideshow_cycle_main {
  width: 100%;
  float: left; }
  /* line 79, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
  .view-homepage-slider .views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
    height: auto !important; }
  /* line 84, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .views_slideshow_cycle_main .views_slideshow_cycle_slide {
    overflow: hidden; }
  /* line 87, ../../../sass/layouts/home/components/_homepage-slider.scss */
  .view-homepage-slider .views_slideshow_cycle_main img {
    min-height: 100%;
    object-fit: cover;
    object-position: 50%; }

/* line 96, ../../../sass/layouts/home/components/_homepage-slider.scss */
.view-homepage-slider,
.view-homepage-slider .views-row,
.homepage-slider-info-wrapper {
  height: 13em; }
  @media (min-width: 480px) {
    /* line 96, ../../../sass/layouts/home/components/_homepage-slider.scss */
    .view-homepage-slider,
    .view-homepage-slider .views-row,
    .homepage-slider-info-wrapper {
      height: 19em; } }
  @media (min-width: 720px) {
    /* line 96, ../../../sass/layouts/home/components/_homepage-slider.scss */
    .view-homepage-slider,
    .view-homepage-slider .views-row,
    .homepage-slider-info-wrapper {
      height: 22em; } }
  @media (min-width: 960px) {
    /* line 96, ../../../sass/layouts/home/components/_homepage-slider.scss */
    .view-homepage-slider,
    .view-homepage-slider .views-row,
    .homepage-slider-info-wrapper {
      height: 25em; } }
  @media (min-width: 1280px) {
    /* line 96, ../../../sass/layouts/home/components/_homepage-slider.scss */
    .view-homepage-slider,
    .view-homepage-slider .views-row,
    .homepage-slider-info-wrapper {
      height: 30em; } }

/* line 5, ../../../sass/layouts/home/components/_info-boxes.scss */
.pane-homepage-info-boxes {
  position: relative;
  min-height: 5em; }
  /* line 8, ../../../sass/layouts/home/components/_info-boxes.scss */
  .pane-homepage-info-boxes .panel-pane {
    border-bottom: 0.1em solid rgba(59, 59, 66, 0.2); }
    /* line 10, ../../../sass/layouts/home/components/_info-boxes.scss */
    .pane-homepage-info-boxes .panel-pane p {
      margin: 1em; }
    /* line 13, ../../../sass/layouts/home/components/_info-boxes.scss */
    .pane-homepage-info-boxes .panel-pane.appointment {
      border: 0; }
    @media (min-width: 480px) {
      /* line 8, ../../../sass/layouts/home/components/_info-boxes.scss */
      .pane-homepage-info-boxes .panel-pane {
        border-bottom: 0; }
        /* line 19, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.contact {
          width: 49.15254%;
          float: left;
          margin-right: -100%;
          margin-left: 0;
          clear: none; }
        /* line 22, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.hours {
          width: 49.15254%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; }
        /* line 25, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.appointment {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          clear: left;
          border-top: 0.1em solid rgba(59, 59, 66, 0.2); } }
    @media (min-width: 720px) {
      /* line 8, ../../../sass/layouts/home/components/_info-boxes.scss */
      .pane-homepage-info-boxes .panel-pane {
        border-right: 0.1em solid rgba(59, 59, 66, 0.2);
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: .8em; }
        /* line 37, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane p {
          margin: 0; }
        /* line 40, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.contact {
          width: 32.20339%;
          float: left;
          margin-right: -100%;
          margin-left: 0;
          clear: none; }
        /* line 43, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.hours {
          width: 32.20339%;
          float: left;
          margin-right: -100%;
          margin-left: 33.89831%;
          clear: none; }
        /* line 46, ../../../sass/layouts/home/components/_info-boxes.scss */
        .pane-homepage-info-boxes .panel-pane.appointment {
          width: 32.20339%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none;
          border-top: 0;
          padding-top: 0;
          position: relative;
          top: 0%;
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%); }
          /* line 52, ../../../sass/layouts/home/components/_info-boxes.scss */
          .pane-homepage-info-boxes .panel-pane.appointment p {
            margin-top: 1em; } }

/*# sourceMappingURL=home.layout.css.map */
