// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "../../variables/**/*";


// Import components specific to this layout.
@import "variables/**/*";
@import "components/**/*";

.l-maincontent {
	@include grid-span(12, 1);
}

.l-sidebar {
	@include grid-span(12, 1);
}

@include breakpoint ($tabport, true) {
	.l-maincontent {
		@include grid-span(8, 1);
	}
	
	.l-sidebar {
		@include grid-span(4, 9);
	}
}