/*
 * Main Menu
 */
/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
$nav-ul-fallback: #3d3d3d;
$nav-ul-start: #585858;
$nav-ul-end: #3d3d3d;
$navlink: #eee;
$nav-li-active-start: #f9f9f9;
$nav-li-active-end: #e5e5e5;
$nav-li-border: #444;
$nav-li-last-hover: #075BB7;
*/
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* Center horizontally */
/* Button Styles */
/* Button Colors */
/* Alternate Button Colors */
/* Set width to breakpoint width */
/* Flexbox */
/* How to use Flexbox
.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}*/
/*@font-face {
	font-family: "Sorts Mill Goudy";
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot");
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.ttf") format("truetype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.woff") format("woff"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.svg#sorts_mill_goudyregular") format("svg");
	font-style: normal;
	font-weight: normal;
}*/
/* line 1, ../sass/abstractions/_button.scss */
.btn {
  display: block;
  text-align: center;
  margin: 1em; }
  /* line 5, ../sass/abstractions/_button.scss */
  .btn .btn-link {
    display: block;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: .75em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0.125em 0.125em 0.5em #3b3b42;
    background-color: #18AFD3;
    color: #FEFEFE; }
    /* line 53, ../sass/variables/_mixins.scss */
    .btn .btn-link:hover, .btn .btn-link:focus {
      background-color: #1389a5;
      color: #FEFEFE; }
  /* line 9, ../sass/abstractions/_button.scss */
  .btn .btn-link-alt {
    display: block;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -ms-border-radius: 0.25em;
    border-radius: 0.25em;
    padding: .75em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0.125em 0.125em 0.5em #3b3b42;
    background-color: #f57e57;
    color: #FEFEFE; }
    /* line 64, ../sass/variables/_mixins.scss */
    .btn .btn-link-alt:hover, .btn .btn-link-alt:focus {
      background-color: #f25927;
      color: #FEFEFE; }
  /* line 13, ../sass/abstractions/_button.scss */
  .btn .btn-help {
    font-size: .75em; }

/* line 1, ../sass/base/_effects.scss */
a {
  transition: all .3s ease-in-out; }

/* line 5, ../sass/base/_effects.scss */
.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%; }

/* line 1, ../sass/base/_forms.scss */
input,
textarea {
  width: 100%;
  outline: none;
  background: #EFEFEF;
  border: solid 0.0625em rgba(59, 59, 66, 0.2);
  padding: .5em 2em .5em 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }
  /* line 12, ../sass/base/_forms.scss */
  input:focus,
  textarea:focus {
    background-color: #FEFEFE;
    border-color: #395261;
    -webkit-box-shadow: 0 0 5px rgba(24, 175, 211, 0.5) ;
    -moz-box-shadow: 0 0 5px rgba(24, 175, 211, 0.5) ;
    box-shadow: 0 0 5px rgba(24, 175, 211, 0.5) ; }

/* line 19, ../sass/base/_forms.scss */
input:-moz-placeholder {
  color: rgba(59, 59, 66, 0.5); }

/* line 23, ../sass/base/_forms.scss */
input::-webkit-input-placeholder {
  color: rgba(59, 59, 66, 0.5); }

/* line 27, ../sass/base/_forms.scss */
input[type="submit"] {
  background-color: #18AFD3;
  color: #FEFEFE; }
  /* line 53, ../sass/variables/_mixins.scss */
  input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #1389a5;
    color: #FEFEFE; }

/* line 31, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  width: auto; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }
  /* line 3, ../sass/base/_tables.scss */
  table td,
  table th {
    padding: .25em .5em; }

/* line 1, ../sass/base/_typography.scss */
body {
  color: #3b3b42; }
  /* line 3, ../sass/base/_typography.scss */
  body a {
    color: #395261; }
    /* line 5, ../sass/base/_typography.scss */
    body a:hover {
      color: #18AFD3; }

/* line 10, ../sass/base/_typography.scss */
p {
  margin: 1em 0; }

/* line 17, ../sass/base/_typography.scss */
h2 {
  font-size: 1.5em; }

/* line 20, ../sass/base/_typography.scss */
h3 {
  font-size: 1.25em; }

/* line 2, ../sass/components/_contact-form.scss */
.contact-block-map strong {
  display: block;
  margin-bottom: .5em; }
/* line 6, ../sass/components/_contact-form.scss */
.contact-block-map.contact-block {
  border: 0.25em solid #18AFD3;
  padding: 1em;
  margin-bottom: 1em; }
/* line 11, ../sass/components/_contact-form.scss */
.contact-block-map.contact-map {
  margin-bottom: 1em; }
/* line 15, ../sass/components/_contact-form.scss */
.contact-block-map.contact-block {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 18, ../sass/components/_contact-form.scss */
.contact-block-map.contact-map {
  width: 66.10169%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 24, ../sass/components/_contact-form.scss */
.pane-page-content {
  clear: both; }

/* line 1, ../sass/components/_help.scss */
.l-region--help {
  margin: 0 auto;
  padding: 0 1em;
  width: 480px;
  width: 720px;
  width: 960px;
  width: 1280px; }

/* line 1, ../sass/components/_location-map.scss */
#locationmap_map {
  width: 100% !important;
  height: 18.5em !important; }

/* line 1, ../sass/components/_page-layout.scss */
body {
  background: #FEFEFE;
  min-width: 20em; }

/* line 6, ../sass/components/_page-layout.scss */
.l-body {
  margin: 0 auto;
  /*	@include breakpoint ($smartland, true) {
  		width: $smartland;
  	}
  
  	@include breakpoint ($tabport, true) {
  		width: $tabport;
  	}
  
  	@include breakpoint ($tabland, true) {
  		width: $tabland;
  	}
  
  	@include breakpoint ($desk, true) {
  		width: $desk;
  	}*/ }

/* line 29, ../sass/components/_page-layout.scss */
.l-main {
  clear: left; }

/*.pane-search-form {
	text-align: right;
}

.search-block-form {
	position: relative;
	.form-item-search-block-form {
		input {
			background: $grey-light;
			border: solid .0625em rgba($black, .2);
			padding: .5em 2em .5em 1em;
			width: 6.5em;
			@include border-radius (10em);
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
		}
	
		input:focus {
			width: 8em;
			background-color: $white;
			border-color: $grey-dark;
			@include breakpoint ($smartland, true) {
				width: 10em;
			}
			@include breakpoint ($tabport, true) {
				width: 15em;
			}
			@include breakpoint ($tabland, true) {
				width: 20em;
			}
		}
		input:-moz-placeholder {
			color: rgba($black, .5);
		}
		input::-webkit-input-placeholder {
			color: rgba($black, .5);
		}
	}
	.form-submit {
		border: 0;
		font-family: 'FontAwesome';
		background: none;
		position: absolute;
		right: .25em;
		@include translateY (50%);
		width: auto;
    box-shadow: none;
    padding: 0 .25em;
	}
}*/
/* line 2, ../sass/components/_social-icons.scss */
.l-footer .social-media {
  text-align: right; }
  /* line 6, ../sass/components/_social-icons.scss */
  .l-footer .social-media .fa-inverse {
    color: #395261; }

/* line 1, ../sass/components/business-info/_business-info-form.scss */
.field-name-field-business-info-address {
  margin-bottom: 1em; }

/* line 1, ../sass/components/content/contentbottom/_content-bottom.scss */
.l-contentbottom {
  padding-top: 1em;
  background: rgba(59, 59, 66, 0.07);
  color: #395261;
  overflow: hidden; }
  /* line 6, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom a {
    color: #395261; }
    /* line 8, ../sass/components/content/contentbottom/_content-bottom.scss */
    .l-contentbottom a:hover {
      color: rgba(57, 82, 97, 0.6); }
  /* line 12, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom h1,
  .l-contentbottom h2 {
    color: #18AFD3; }
    /* line 15, ../sass/components/content/contentbottom/_content-bottom.scss */
    .l-contentbottom h1 a,
    .l-contentbottom h2 a {
      color: #18AFD3; }
      /* line 17, ../sass/components/content/contentbottom/_content-bottom.scss */
      .l-contentbottom h1 a:hover,
      .l-contentbottom h2 a:hover {
        color: #395261; }
  /* line 22, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom .l-region--contentbottom {
    margin: 0 auto;
    padding: 0 1em;
    width: 720px;
    width: 960px;
    width: 1280px; }

/* line 1, ../sass/components/content/contenttop/_content-top.scss */
.l-contenttop {
  background: #3b3b42;
  color: #FEFEFE; }
  /* line 4, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop a {
    color: #FEFEFE; }
    /* line 6, ../sass/components/content/contenttop/_content-top.scss */
    .l-contenttop a:hover {
      color: rgba(254, 254, 254, 0.6); }
  /* line 10, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop h1,
  .l-contenttop h2 {
    padding: 1em;
    text-align: center;
    color: #FEFEFE; }
    /* line 15, ../sass/components/content/contenttop/_content-top.scss */
    .l-contenttop h1 a,
    .l-contenttop h2 a {
      color: #FEFEFE; }
      /* line 17, ../sass/components/content/contenttop/_content-top.scss */
      .l-contenttop h1 a:hover,
      .l-contenttop h2 a:hover {
        color: #FEFEFE; }

/* line 2, ../sass/components/footer/_footer-layout.scss */
.business-info {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 5, ../sass/components/footer/_footer-layout.scss */
.social-media {
  width: 49.15254%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 8, ../sass/components/footer/_footer-layout.scss */
.legal {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: left;
  text-align: center; }

/* line 3, ../sass/components/footer/_footer-reset.scss */
.l-footer .menu-wrapper,
.l-footer .menu,
.l-footer .social {
  overflow: hidden; }
/* line 8, ../sass/components/footer/_footer-reset.scss */
.l-footer ul {
  overflow: hidden; }
  /* line 10, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul li {
    display: inline-block; }
  /* line 13, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul.fa-ul {
    overflow: visible; }
    /* line 15, ../sass/components/footer/_footer-reset.scss */
    .l-footer ul.fa-ul li {
      display: list-item; }
/* line 20, ../sass/components/footer/_footer-reset.scss */
.l-footer a {
  text-decoration: none; }

/* line 1, ../sass/components/footer/_footer.scss */
.l-footer {
  padding: 1em 0;
  background: #395261;
  color: #FEFEFE;
  clear: both;
  position: relative; }
  /* line 7, ../sass/components/footer/_footer.scss */
  .l-footer a {
    color: #FEFEFE; }
    /* line 9, ../sass/components/footer/_footer.scss */
    .l-footer a:hover {
      color: rgba(254, 254, 254, 0.6); }
  /* line 13, ../sass/components/footer/_footer.scss */
  .l-footer h1,
  .l-footer h2 {
    color: #FEFEFE; }
    /* line 16, ../sass/components/footer/_footer.scss */
    .l-footer h1 a,
    .l-footer h2 a {
      color: #FEFEFE; }
      /* line 18, ../sass/components/footer/_footer.scss */
      .l-footer h1 a:hover,
      .l-footer h2 a:hover {
        color: #FEFEFE; }
  /* line 23, ../sass/components/footer/_footer.scss */
  .l-footer ul {
    padding: 0; }
  /* line 27, ../sass/components/footer/_footer.scss */
  .l-footer .l-region--footer {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 720px;
    width: 960px;
    width: 1280px; }

/**
 * This makes the footer sticky even when there's little content:
 * Adapted from:
 * http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */
/* line 7, ../sass/components/footer/_sticky-footer.scss */
* {
  margin: 0; }

/* line 11, ../sass/components/footer/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 15, ../sass/components/footer/_sticky-footer.scss */
.l-page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -15em; }

/* line 21, ../sass/components/footer/_sticky-footer.scss */
.l-footer,
.push {
  height: 15em;
  clear: both; }

/* line 1, ../sass/components/forms/_contact-form.scss */
.entitytype-contact_form-form {
  min-height: 9em; }
  /* line 4, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .field-name-field-contact-form-name {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 7, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .field-name-field-contact-form-phone {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    position: relative;
    top: 3em; }
  /* line 12, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .field-name-field-contact-form-message {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
    /* line 15, ../sass/components/forms/_contact-form.scss */
    .entitytype-contact_form-form .field-name-field-contact-form-message textarea {
      min-height: 7.625em; }
  /* line 19, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .form-actions {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    position: relative;
    top: 6em; }
  /* line 27, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .field-name-field-contact-form-message textarea {
    min-height: 10.75em; }
  /* line 32, ../sass/components/forms/_contact-form.scss */
  .entitytype-contact_form-form .form-actions input {
    padding: 2em 3em 2em 2em; }

/* line 2, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-preferred-day {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: left; }
/* line 7, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-preferred-time {
  width: 49.15254%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }
/* line 12, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-message {
  clear: both; }
/* line 16, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .form-actions {
  clear: both; }
  /* line 18, ../sass/components/forms/_request-appointment-form.scss */
  .entitytype-request_an_appointment-form .form-actions input {
    font-size: 1.5em;
    padding: .5em; }
/* line 51, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-name {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }
/* line 54, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-phone {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  position: relative;
  top: 3em; }
/* line 59, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-preferred-day {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  position: relative;
  top: 6em; }
/* line 64, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-preferred-time {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  position: relative;
  top: 6em; }
/* line 69, ../sass/components/forms/_request-appointment-form.scss */
.entitytype-request_an_appointment-form .field-name-field-appt-req-message {
  width: 66.10169%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }
  /* line 72, ../sass/components/forms/_request-appointment-form.scss */
  .entitytype-request_an_appointment-form .field-name-field-appt-req-message textarea {
    min-height: 14em; }

/* line 4, ../sass/components/header/_header-layout.scss */
.l-region--header {
  float: left;
  clear: both;
  height: 6em;
  width: 100%;
  width: 1280px; }

/* line 22, ../sass/components/header/_header-layout.scss */
.pane-logo-search {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 27, ../sass/components/header/_header-layout.scss */
.menu-toggle-button {
  width: 15.25424%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 6em; }

/* line 31, ../sass/components/header/_header-layout.scss */
.pane-system-main-menu {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: both; }

/* line 37, ../sass/components/header/_header-layout.scss */
.l-region--header {
  height: 7.5em; }

/* line 41, ../sass/components/header/_header-layout.scss */
.pane-logo-search {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  top: 0%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  margin: 1em 0; }

/* line 46, ../sass/components/header/_header-layout.scss */
.pane-system-main-menu {
  position: absolute;
  bottom: 0; }

/* line 4, ../sass/components/header/_header.scss */
.l-region--header {
  background: #FEFEFE; }

/*
	overflow: visible;
	position: relative;
	
	.pane-page-logo {
		@include grid-span (6, 1);
		clear: left;
		@include breakpoint ($tabland, true) {
			@include grid-span (4, 1);
			clear: left;
		}
		img {
			max-width: 50%;
			//border-radius: .75em;
			//box-shadow: 0 0 2em $white;
			//@include breakpoint ($desk, true) {
			//	border-radius: 1.5em;
			//}
		}
	}
	
	.pane-search-form {
		@include grid-span (6, 7);
		clear: right;
		@include breakpoint ($tabland, true) {
			@include grid-span (8, 5);
			clear: right;
		}
	}

	.pane-logo-search {
		position: relative;
		top: 0;
		padding: 2em;
	}
}*/
/* line 1, ../sass/components/header/_site-name.scss */
.pane-page-site-name {
  color: #3b3b42;
  font-weight: bold;
  font-size: 2em;
  text-align: center; }
  /* line 6, ../sass/components/header/_site-name.scss */
  .pane-page-site-name a {
    text-decoration: none; }

/* line 1, ../sass/components/highlighted/_highlighted.scss */
.l-highlighted {
  float: left;
  clear: left;
  width: 100%;
  background: #EFEFEF;
  color: #3b3b42;
  text-align: center; }
  /* line 9, ../sass/components/highlighted/_highlighted.scss */
  .l-highlighted a {
    text-decoration: none; }
  /* line 12, ../sass/components/highlighted/_highlighted.scss */
  .l-highlighted .l-region--highlighted {
    margin: 0 auto;
    width: 720px;
    width: 960px;
    width: 1280px; }

/* line 1, ../sass/components/menus/_menu-main-a.scss */
.pane-system-main-menu {
  position: relative; }
  /* line 4, ../sass/components/menus/_menu-main-a.scss */
  .pane-system-main-menu .menu-wrapper {
    position: absolute;
    width: 100%;
    width: 688px;
    z-index: 999;
    background: #FEFEFE;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    max-height: 0;
    overflow: hidden; }
    /* line 18, ../sass/components/menus/_menu-main-a.scss */
    .pane-system-main-menu .menu-wrapper ul {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding: 0; }
      /* line 23, ../sass/components/menus/_menu-main-a.scss */
      .pane-system-main-menu .menu-wrapper ul li {
        border-bottom: 0.0625em solid #EFEFEF; }
        /* line 25, ../sass/components/menus/_menu-main-a.scss */
        .pane-system-main-menu .menu-wrapper ul li a {
          display: block;
          padding: 1em 1.5em;
          color: #3b3b42;
          text-decoration: none; }
          /* line 30, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li a:hover {
            color: #3b3b42; }
        /* line 35, ../sass/components/menus/_menu-main-a.scss */
        .pane-system-main-menu .menu-wrapper ul li.first {
          border-top: 0.0625em solid #EFEFEF; }
        /* line 38, ../sass/components/menus/_menu-main-a.scss */
        .pane-system-main-menu .menu-wrapper ul li:hover {
          background: rgba(59, 59, 66, 0.05); }
        /* line 42, ../sass/components/menus/_menu-main-a.scss */
        .pane-system-main-menu .menu-wrapper ul li.expanded {
          position: relative; }
          /* line 44, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li.expanded > a:after {
            position: absolute;
            font-family: FontAwesome;
            content: "\f078";
            font-size: .75em;
            right: 1em;
            color: #18AFD3;
            transform: rotate(0deg);
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
          /* line 54, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li.expanded ul {
            max-height: 0;
            overflow: hidden;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
          /* line 61, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li.expanded.open ul {
            max-height: 30em; }
          /* line 64, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li.expanded.open > a:after {
            transform: rotate(180deg); }
        /* line 70, ../sass/components/menus/_menu-main-a.scss */
        .pane-system-main-menu .menu-wrapper ul li ul {
          -webkit-box-shadow: 0 0 1em #395261 inset;
          -moz-box-shadow: 0 0 1em #395261 inset;
          box-shadow: 0 0 1em #395261 inset; }
          /* line 72, ../sass/components/menus/_menu-main-a.scss */
          .pane-system-main-menu .menu-wrapper ul li ul li {
            border-bottom: 0.0625em solid #395261; }
            /* line 74, ../sass/components/menus/_menu-main-a.scss */
            .pane-system-main-menu .menu-wrapper ul li ul li.first {
              border-top: 0; }
            /* line 77, ../sass/components/menus/_menu-main-a.scss */
            .pane-system-main-menu .menu-wrapper ul li ul li.last {
              border-bottom: 0; }
            /* line 80, ../sass/components/menus/_menu-main-a.scss */
            .pane-system-main-menu .menu-wrapper ul li ul li a {
              font-size: .75em; }
  /* line 89, ../sass/components/menus/_menu-main-a.scss */
  .pane-system-main-menu.active .menu-wrapper {
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: rgba(254, 254, 254, 0.95);
    border-top: 0.0625em solid #EFEFEF; }

/* line 1, ../sass/components/menus/_menu-main-toggle.scss */
.menu-toggle-button {
  cursor: pointer; }
  /* line 4, ../sass/components/menus/_menu-main-toggle.scss */
  .menu-toggle-button .menu-toggle-bar,
  .menu-toggle-button .menu-toggle-bar:before,
  .menu-toggle-button .menu-toggle-bar:after {
    display: block;
    position: relative;
    width: 2.5em;
    height: .25em;
    content: '';
    background-color: #707070;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    border-radius: 1em;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  /* line 17, ../sass/components/menus/_menu-main-toggle.scss */
  .menu-toggle-button .menu-toggle-bar {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto; }
    /* line 20, ../sass/components/menus/_menu-main-toggle.scss */
    .menu-toggle-button .menu-toggle-bar:before {
      top: -.5em; }
    /* line 23, ../sass/components/menus/_menu-main-toggle.scss */
    .menu-toggle-button .menu-toggle-bar:after {
      top: .25em; }
  /* line 28, ../sass/components/menus/_menu-main-toggle.scss */
  .menu-toggle-button.active .menu-toggle-bar {
    background: transparent; }
    /* line 30, ../sass/components/menus/_menu-main-toggle.scss */
    .menu-toggle-button.active .menu-toggle-bar:before, .menu-toggle-button.active .menu-toggle-bar:after {
      top: 50%;
      margin-top: -0.25em;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    /* line 38, ../sass/components/menus/_menu-main-toggle.scss */
    .menu-toggle-button.active .menu-toggle-bar:before {
      transform: rotate(45deg); }
    /* line 41, ../sass/components/menus/_menu-main-toggle.scss */
    .menu-toggle-button.active .menu-toggle-bar:after {
      transform: rotate(-45deg); }

/* line 1, ../sass/components/menus/_menu-user.scss */
.l-usermenu {
  padding: .5em 0;
  background: #395261;
  color: #FEFEFE; }
  /* line 5, ../sass/components/menus/_menu-user.scss */
  .l-usermenu a {
    color: #FEFEFE; }
    /* line 7, ../sass/components/menus/_menu-user.scss */
    .l-usermenu a:hover {
      color: rgba(254, 254, 254, 0.6); }
  /* line 11, ../sass/components/menus/_menu-user.scss */
  .l-usermenu .l-region--usermenu {
    margin: 0 auto;
    padding: 0 1em;
    width: 720px;
    width: 960px;
    width: 1280px; }
    /* line 14, ../sass/components/menus/_menu-user.scss */
    .l-usermenu .l-region--usermenu ul {
      list-style-image: none;
      padding: 0;
      margin: 0;
      text-align: right; }
      /* line 19, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu ul li {
        display: inline-block;
        margin-right: .5em; }
        /* line 22, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li.last {
          margin-right: 0; }
        /* line 25, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li a {
          text-decoration: none; }

/* line 2, ../sass/components/our-team/_our-team-page.scss */
.view-our-team .views-row {
  border-bottom: 0.0625em solid #bcbcbc;
  margin-bottom: 1em;
  float: left; }
  /* line 6, ../sass/components/our-team/_our-team-page.scss */
  .view-our-team .views-row.views-row-last {
    border-bottom: 0; }
/* line 10, ../sass/components/our-team/_our-team-page.scss */
.view-our-team .views-field-field-team-member-photo {
  text-align: center; }
/* line 13, ../sass/components/our-team/_our-team-page.scss */
.view-our-team .views-field-title {
  font-size: 2em;
  text-align: center; }
  /* line 16, ../sass/components/our-team/_our-team-page.scss */
  .view-our-team .views-field-title a {
    text-decoration: none; }

/* line 2, ../sass/components/services/_view-services.scss */
.view-services .views-row {
  border: 0.0625em solid #EFEFEF;
  margin-bottom: 1em;
  line-height: 1.5em; }
  /* line 7, ../sass/components/services/_view-services.scss */
  .view-services .views-row a {
    text-decoration: none; }
  /* line 10, ../sass/components/services/_view-services.scss */
  .view-services .views-row .views-field-title {
    padding: 1em;
    font-weight: bold; }
  /* line 14, ../sass/components/services/_view-services.scss */
  .view-services .views-row .views-field-field-service-brief-description {
    padding: 0 1em 1em; }
  /* line 45, ../sass/components/services/_view-services.scss */
  .view-services .views-row:nth-child(4n+1) {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
  /* line 49, ../sass/components/services/_view-services.scss */
  .view-services .views-row:nth-child(4n+2) {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none; }
  /* line 52, ../sass/components/services/_view-services.scss */
  .view-services .views-row:nth-child(4n+3) {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none; }
  /* line 55, ../sass/components/services/_view-services.scss */
  .view-services .views-row:nth-child(4n+4) {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }

/* line 1, ../sass/components/tabs/_tabs-primary.scss */
.tabs--primary {
  border-bottom: 0;
  margin: 1em 0 .5em; }
  /* line 4, ../sass/components/tabs/_tabs-primary.scss */
  .tabs--primary li {
    border-bottom: 0.15em solid #395261;
    padding-bottom: .25em;
    margin-right: 0;
    padding-right: 1em; }

/* line 1, ../sass/components/user/_user-login.scss */
.user-login {
  margin: 0 auto;
  width: 1280px; }

/*# sourceMappingURL=schneider-family-dentistry.no-query.css.map */
