.l-highlighted {
	float: left;
	clear: left;
	width: 100%;
	background: $highlighted-bg;
	color: $highlighted-text;
	//border-bottom: .25em solid $white;
	text-align: center;
	a {
		text-decoration: none;
	}
	.l-region--highlighted {
		margin: 0 auto;

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}