.view-calendar,
.view-full-calendar {
	.view-header {
		.date-nav {
			padding-bottom: 0;
			@include breakpoint (max-width $calendar-mobile) {
				padding-bottom: 1.5em;
			}
			ul {
				list-style: none;
				li {
					padding: .5em 0;
					a {
						margin: 0;
						padding: .5em 1em;
					}
					&.date-prev {
						right: 5.5em;
					}
				}
				@include breakpoint(max-width $calendar-mobile) {
					li {
						bottom: 0;
						top: auto;
						&.date-prev {
							right: 50%;
							left: auto;
							margin-right: .25em;
						}
						&.date-next {
							left: 50%;
							right: auto;
							margin-left: .25em;
						}
					}
				}
			}
		}
	}
}