.l-header {
	background: url(/sites/all/themes/filimin/images/filiminhero.jpg) no-repeat;
	background-size: 100% auto;
	background-position: center;
	min-height: 12em;
	@include breakpoint ($smartland, true) {
		min-height: 18em;
	}
	@include breakpoint ($tabport, true) {
		min-height: 28em;
	}
	@include breakpoint ($tabland, true) {
		min-height: 30em;
	}
	@include breakpoint ($desk, true) {
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	min-height: 35em;
	}
}