$black: #3b3b42;
$white: #FEFEFE;
$grey: #4C6575;
$grey-dark: #395261;
$grey-light: #EFEFEF;
$blue: #18AFD3;
$orange: #f57e57;

$accent-color: $blue;
$accent-color-alt: $orange;
$text: $black;
$link: $grey-dark;
$link-hover: $accent-color;

/*
 * Main Menu
 */
$menu-main-bg: $white;
$menu-main-text: $black;
$menu-main-link-hover: $black;
$menu-main-border: $grey-light;
$menu-main-toggle: darken($grey-light, 50%);
$menu-main-a-after: $accent-color;
$sub-menu-border: darken($grey-light, 20%);

/*
 * User Menu
 */
$menu-user-bg: $grey-dark;
$menu-user-text: $white;
$menu-user-link-hover: rgba($white, .6);

/*
 * Highlighted
 */
$highlighted-bg: $grey-light;
$highlighted-header: $black;
$highlighted-text: $black;
$highlighted-link-hover: rgba($black, .6);

/*
 * Content Top
 */
$content-top-bg: $black;
$content-top-header: $white;
$content-top-text: $white;
$content-top-link-hover: rgba($white, .6);

 /*
 * Content bottom
 */
$content-bottom-bg: rgba($black, .07);
$content-bottom-header: $blue;
$content-bottom-text: $grey-dark;
$content-bottom-link-hover: rgba($grey-dark, .6);

/*
 * Footer
 */
$footer-bg: $grey-dark;
$footer-header: $white;
$footer-text: $white;
$footer-link-hover: rgba($white, .6);

/*
 * Navigation specific colors
 */

/*
$nav-ul-fallback: #3d3d3d;
$nav-ul-start: #585858;
$nav-ul-end: #3d3d3d;
$navlink: #eee;
$nav-li-active-start: #f9f9f9;
$nav-li-active-end: #e5e5e5;
$nav-li-border: #444;
$nav-li-last-hover: #075BB7;
*/

/*
 * Lighten and Darken colors
 */

 //lighten($base-color, 10%);
 //darken($base-color, 10%);

/*
 * Add alpha transparency
 */
 
 //rgba( $base-color, .7 )