/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-all($radiustl, $radiustr, $radiusbr, $radiusbl) {
  -webkit-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
     -moz-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
      -ms-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
          border-radius: $radiustl $radiustr $radiusbr $radiusbl;
}

/* Box Shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
     -moz-box-shadow:$top $left $blur $color #{$inset};
  	    	box-shadow:$top $left $blur $color #{$inset};
    }

/* Center vertically */
@mixin translateY($percent) {
                top: $percent;
  -webkit-transform: translateY(-$percent);
      -ms-transform: translateY(-$percent);
          transform: translateY(-$percent);
}

/* Center horizontally */
@mixin translateX($percent) {
                left: $percent;
  -webkit-transform: translateX(-$percent);
      -ms-transform: translateX(-$percent);
          transform: translateX(-$percent);
}

/* Button Styles */
@mixin button-styles() {
  display: block;
  @include border-radius (.25em);
  padding: .75em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: .125em .125em .5em $black;
}

/* Button Colors */
@mixin button-colors() {
  background-color: $accent-color;
  color: $white;
  &:hover,
  &:focus {
    background-color: darken($accent-color, 10%);
    color: $white;
  }
}

/* Alternate Button Colors */
@mixin button-colors-alt() {
  background-color: $accent-color-alt;
  color: $white;
  &:hover,
  &:focus {
    background-color: darken($accent-color-alt, 10%);
    color: $white;
  }
}

/* Set width to breakpoint width */
@mixin breakpoint-widths() {
  @include breakpoint ($smartland) {width: $smartland;}
  @include breakpoint ($tabport) {width: $tabport;}
  @include breakpoint ($tabland) {width: $tabland;}
  @include breakpoint ($desk, true) {width: $desk;}
}

/* Flexbox */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

/* How to use Flexbox
.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}*/