/*@font-face {
	font-family: "Sorts Mill Goudy";
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot");
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.ttf") format("truetype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.woff") format("woff"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.svg#sorts_mill_goudyregular") format("svg");
	font-style: normal;
	font-weight: normal;
}*/