/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* No files to import found in abstractions/**\/* */
/* line 1, ../sass/base/_effects.scss */
a {
  transition: all .3s ease-in-out; }

/* line 1, ../sass/base/_forms.scss */
input {
  max-width: 100%; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }
  /* line 3, ../sass/base/_tables.scss */
  table td,
  table th {
    padding: .25em .5em; }

/* line 1, ../sass/base/_typography.scss */
body {
  color: #3b3b42; }
  /* line 3, ../sass/base/_typography.scss */
  body a {
    color: #8f885e; }
    /* line 5, ../sass/base/_typography.scss */
    body a:hover {
      color: #3b3b42; }

/* line 10, ../sass/base/_typography.scss */
blockquote {
  position: relative;
  margin: 1em 3em;
  min-height: 2em;
  border-left: .25em solid;
  padding-left: .5em; }
  /* line 16, ../sass/base/_typography.scss */
  blockquote:before {
    position: absolute;
    font-family: FontAwesome;
    left: -1.5em;
    content: "\f10d";
    font-size: 2em;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

/* line 1, ../sass/components/_body.scss */
.l-body {
  margin: 0 auto;
  padding: 1em;
  overflow: hidden; }
  @media (min-width: 480px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 1280px; } }

/* line 1, ../sass/components/_contentbottom.scss */
.l-contentbottom {
  padding: 1em 0 3em;
  background: rgba(59, 59, 66, 0.07);
  color: #3b3b42;
  overflow: hidden; }
  /* line 6, ../sass/components/_contentbottom.scss */
  .l-contentbottom a {
    color: #3b3b42; }
    /* line 8, ../sass/components/_contentbottom.scss */
    .l-contentbottom a:hover {
      color: #3b3b42; }
  /* line 12, ../sass/components/_contentbottom.scss */
  .l-contentbottom h1,
  .l-contentbottom h2 {
    color: #8f885e; }
    /* line 15, ../sass/components/_contentbottom.scss */
    .l-contentbottom h1 a,
    .l-contentbottom h2 a {
      color: #8f885e; }
      /* line 17, ../sass/components/_contentbottom.scss */
      .l-contentbottom h1 a:hover,
      .l-contentbottom h2 a:hover {
        color: #3b3b42; }
  /* line 22, ../sass/components/_contentbottom.scss */
  .l-contentbottom .l-region--contentbottom {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 22, ../sass/components/_contentbottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 22, ../sass/components/_contentbottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 22, ../sass/components/_contentbottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 1280px; } }

/* line 1, ../sass/components/_contenttop.scss */
.l-contenttop {
  padding: 1em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6);
  text-align: center; }
  /* line 7, ../sass/components/_contenttop.scss */
  .l-contenttop p {
    margin: 0; }
  /* line 10, ../sass/components/_contenttop.scss */
  .l-contenttop a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 12, ../sass/components/_contenttop.scss */
    .l-contenttop a:hover {
      color: #FEFEFE; }
  /* line 16, ../sass/components/_contenttop.scss */
  .l-contenttop h1,
  .l-contenttop h2 {
    color: #FEFEFE; }
    /* line 19, ../sass/components/_contenttop.scss */
    .l-contenttop h1 a,
    .l-contenttop h2 a {
      color: #FEFEFE; }
      /* line 21, ../sass/components/_contenttop.scss */
      .l-contenttop h1 a:hover,
      .l-contenttop h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 26, ../sass/components/_contenttop.scss */
  .l-contenttop .l-region--contenttop {
    margin: 0 auto;
    padding: 0 1em;
    position: relative; }
    @media (min-width: 720px) {
      /* line 26, ../sass/components/_contenttop.scss */
      .l-contenttop .l-region--contenttop {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 26, ../sass/components/_contenttop.scss */
      .l-contenttop .l-region--contenttop {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 26, ../sass/components/_contenttop.scss */
      .l-contenttop .l-region--contenttop {
        width: 1280px; } }

/* line 1, ../sass/components/_create-links.scss */
.create-links {
  position: absolute;
  right: 1em;
  bottom: -2em; }
  /* line 5, ../sass/components/_create-links.scss */
  .create-links a {
    text-decoration: none; }

/* line 1, ../sass/components/_header.scss */
.l-region--header {
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden;
  position: relative; }
  /* line 6, ../sass/components/_header.scss */
  .l-region--header .pane-page-logo {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
    @media (min-width: 960px) {
      /* line 6, ../sass/components/_header.scss */
      .l-region--header .pane-page-logo {
        width: 32.20339%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none;
        clear: left; } }
  @media (min-width: 480px) {
    /* line 1, ../sass/components/_header.scss */
    .l-region--header {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/_header.scss */
    .l-region--header {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/_header.scss */
    .l-region--header {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 1, ../sass/components/_header.scss */
    .l-region--header {
      width: 1280px; } }

/* line 1, ../sass/components/_help.scss */
.l-region--help {
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 480px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 1280px; } }

/* line 1, ../sass/components/_hightlighted.scss */
.l-highlighted {
  padding: 1em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6);
  border-bottom: 0.25em solid #FEFEFE; }
  /* line 6, ../sass/components/_hightlighted.scss */
  .l-highlighted a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 8, ../sass/components/_hightlighted.scss */
    .l-highlighted a:hover {
      color: #FEFEFE; }
  /* line 12, ../sass/components/_hightlighted.scss */
  .l-highlighted h1,
  .l-highlighted h2 {
    color: #FEFEFE; }
    /* line 15, ../sass/components/_hightlighted.scss */
    .l-highlighted h1 a,
    .l-highlighted h2 a {
      color: #FEFEFE; }
      /* line 17, ../sass/components/_hightlighted.scss */
      .l-highlighted h1 a:hover,
      .l-highlighted h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 22, ../sass/components/_hightlighted.scss */
  .l-highlighted .l-region--highlighted {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 22, ../sass/components/_hightlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 22, ../sass/components/_hightlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 22, ../sass/components/_hightlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 1280px; } }

/* line 1, ../sass/components/_joyride.scss */
#joyride-tips-content {
  display: none; }

/**
 * Create the responsive grid
 */
/* line 6, ../sass/components/_our-staff.scss */
.view-our-staff .views-row {
  margin-bottom: 1em;
  padding: 1em;
  border-radius: .375em; }
  /* line 10, ../sass/components/_our-staff.scss */
  .view-our-staff .views-row:hover {
    background: rgba(59, 59, 66, 0.15); }

@media (min-width: 480px) {
  /* line 18, ../sass/components/_our-staff.scss */
  .view-our-staff .views-row {
    min-height: 136px; }
    /* line 20, ../sass/components/_our-staff.scss */
    .view-our-staff .views-row .views-field-field-staff-photo {
      float: left;
      margin-right: 1em; } }
@media (min-width: 720px) {
  /* line 32, ../sass/components/_our-staff.scss */
  .view-our-staff .views-row:nth-child(2n+1) {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
  /* line 36, ../sass/components/_our-staff.scss */
  .view-our-staff .views-row:nth-child(2n+2) {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
@media (min-width: 960px) {
  /* line 46, ../sass/components/_our-staff.scss */
  .view-our-staff .views-row .views-field-field-staff-photo {
    float: left;
    margin-right: 1em; } }
@media (min-width: 1280px) {
  /* line 58, ../sass/components/_our-staff.scss */
  .view-display-id-page_1 .views-row:nth-child(3n+1) {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
  /* line 62, ../sass/components/_our-staff.scss */
  .view-display-id-page_1 .views-row:nth-child(3n+2) {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none; }
  /* line 65, ../sass/components/_our-staff.scss */
  .view-display-id-page_1 .views-row:nth-child(3n+3) {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
/* line 1, ../sass/components/_search.scss */
.pane-search-form {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: .25em; }

/* line 8, ../sass/components/_search.scss */
.search-block-form {
  position: relative; }
  /* line 10, ../sass/components/_search.scss */
  .search-block-form input {
    outline: none; }
  /* line 14, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input {
    background: #E8E8E8;
    border: solid 0.0625em rgba(59, 59, 66, 0.2);
    padding: .5em 2em .5em 1em;
    width: 6.5em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
  /* line 25, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input:focus {
    width: 8em;
    background-color: #FEFEFE;
    border-color: #3b3b42;
    -webkit-box-shadow: 0 0 5px rgba(88, 22, 108, 0.5) ;
    -moz-box-shadow: 0 0 5px rgba(88, 22, 108, 0.5) ;
    box-shadow: 0 0 5px rgba(88, 22, 108, 0.5) ; }
    @media (min-width: 480px) {
      /* line 25, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 10em; } }
    @media (min-width: 720px) {
      /* line 25, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 15em; } }
    @media (min-width: 960px) {
      /* line 25, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 20em; } }
  /* line 40, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input:-moz-placeholder {
    color: rgba(59, 59, 66, 0.5); }
  /* line 43, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input::-webkit-input-placeholder {
    color: rgba(59, 59, 66, 0.5); }
  /* line 47, ../sass/components/_search.scss */
  .search-block-form .form-submit {
    border: 0;
    font-family: 'FontAwesome';
    background: none;
    position: absolute;
    right: .25em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/* line 1, ../sass/components/_tabs-primary.scss */
.tabs--primary {
  border-bottom: 0;
  margin: 1em 0 .5em; }
  /* line 4, ../sass/components/_tabs-primary.scss */
  .tabs--primary li {
    border-bottom: .15em solid #967396;
    padding-bottom: .25em;
    margin-right: 0;
    padding-right: 1em; }

/* line 3, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 .view-header,
.view-id-upcoming_ministry_events .view-header {
  text-align: center;
  background: #3b3b42;
  padding: .5em; }
  /* line 7, ../sass/components/calendar/_upcoming-events.scss */
  .pane-upcoming-events-panel-pane-1 .view-header p,
  .view-id-upcoming_ministry_events .view-header p {
    margin: 0; }
    /* line 9, ../sass/components/calendar/_upcoming-events.scss */
    .pane-upcoming-events-panel-pane-1 .view-header p a,
    .view-id-upcoming_ministry_events .view-header p a {
      color: rgba(254, 254, 254, 0.6); }
      /* line 11, ../sass/components/calendar/_upcoming-events.scss */
      .pane-upcoming-events-panel-pane-1 .view-header p a:hover,
      .view-id-upcoming_ministry_events .view-header p a:hover {
        color: #FEFEFE; }
/* line 17, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 .view-content,
.view-id-upcoming_ministry_events .view-content {
  border: 0.0625em solid rgba(59, 59, 66, 0.1); }
/* line 20, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 .views-row,
.view-id-upcoming_ministry_events .views-row {
  padding: 1em 1em; }
/* line 23, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 .views-row-even,
.view-id-upcoming_ministry_events .views-row-even {
  background: rgba(59, 59, 66, 0.1); }
/* line 27, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 ul li,
.view-id-upcoming_ministry_events ul li {
  list-style: none; }
/* line 30, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 ul.pager,
.view-id-upcoming_ministry_events ul.pager {
  border-right: 0.0625em solid rgba(59, 59, 66, 0.1);
  border-bottom: 0.0625em solid rgba(59, 59, 66, 0.1);
  border-left: 0.0625em solid rgba(59, 59, 66, 0.1);
  margin: 0;
  padding: .5em; }

@media (min-width: 720px) {
  /* line 41, ../sass/components/calendar/_upcoming-events.scss */
  .pane-upcoming-events-panel-pane-1 .view-header {
    display: none; } }

/* line 49, ../sass/components/calendar/_upcoming-events.scss */
.pane-upcoming-events-panel-pane-1 h2,
.pane-upcoming-ministry-events-panel-pane-1 h2 {
  text-align: center;
  background: #3b3b42;
  color: #FEFEFE;
  font-size: 1em;
  margin: 1em 0 0;
  padding: .5em; }

/* line 3, ../sass/components/commerce/_checkout-review.scss */
table.checkout-review .pane-data-full {
  padding: 1em; }

/* line 2, ../sass/components/commerce/_shopping-cart.scss */
th.views-field-commerce-unit-price, th.views-field-quantity, th.views-field-commerce-total {
  border-left: 0.0625em solid rgba(59, 59, 66, 0.1); }

/* line 10, ../sass/components/commerce/_shopping-cart.scss */
td.views-field-commerce-unit-price, td.views-field-quantity, td.views-field-commerce-total {
  border-left: 0.0625em solid #FEFEFE; }

/* line 17, ../sass/components/commerce/_shopping-cart.scss */
.views-field-field-donation-note {
  border-top: 0.0625em solid #FEFEFE;
  border-bottom: 0.0625em solid #FEFEFE; }

/* line 22, ../sass/components/commerce/_shopping-cart.scss */
.commerce-order-handler-area-order-total {
  margin-top: .5em; }
  /* line 24, ../sass/components/commerce/_shopping-cart.scss */
  .commerce-order-handler-area-order-total tbody {
    border-top: 0.125em solid rgba(59, 59, 66, 0.5); }

/* line 2, ../sass/components/footer/_church-info.scss */
.l-footer .church-info {
  clear: left; }
/* line 6, ../sass/components/footer/_church-info.scss */
.l-footer .fa-ul li {
  margin: .25em 0; }

/* line 2, ../sass/components/footer/_footer-menu.scss */
.l-footer .mobile-menu-toggle {
  display: none; }
/* line 5, ../sass/components/footer/_footer-menu.scss */
.l-footer ul {
  padding: 0; }
/* line 10, ../sass/components/footer/_footer-menu.scss */
.l-footer .pane-system-main-menu ul li {
  width: 50%;
  float: left;
  text-align: center;
  padding: .5em 0; }
  /* line 15, ../sass/components/footer/_footer-menu.scss */
  .l-footer .pane-system-main-menu ul li a {
    padding: .5em 0; }
  @media (min-width: 480px) {
    /* line 21, ../sass/components/footer/_footer-menu.scss */
    .l-footer .pane-system-main-menu ul li:nth-child(5n+1) {
      width: 18.51852%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      clear: left; }
    /* line 25, ../sass/components/footer/_footer-menu.scss */
    .l-footer .pane-system-main-menu ul li:nth-child(5n+2) {
      width: 18.51852%;
      float: left;
      margin-right: -100%;
      margin-left: 20.37037%;
      clear: none; }
    /* line 28, ../sass/components/footer/_footer-menu.scss */
    .l-footer .pane-system-main-menu ul li:nth-child(5n+3) {
      width: 18.51852%;
      float: left;
      margin-right: -100%;
      margin-left: 40.74074%;
      clear: none; }
    /* line 31, ../sass/components/footer/_footer-menu.scss */
    .l-footer .pane-system-main-menu ul li:nth-child(5n+4) {
      width: 18.51852%;
      float: left;
      margin-right: -100%;
      margin-left: 61.11111%;
      clear: none; }
    /* line 34, ../sass/components/footer/_footer-menu.scss */
    .l-footer .pane-system-main-menu ul li:nth-child(5n+5) {
      width: 18.51852%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: right; } }
  /* line 42, ../sass/components/footer/_footer-menu.scss */
  .l-footer .pane-system-main-menu ul li ul {
    display: none; }

/* line 3, ../sass/components/footer/_footer-reset.scss */
.l-footer .menu-wrapper,
.l-footer .menu,
.l-footer .social {
  overflow: hidden; }
/* line 8, ../sass/components/footer/_footer-reset.scss */
.l-footer ul {
  overflow: hidden; }
  /* line 10, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul li {
    display: inline-block; }
  /* line 13, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul.fa-ul {
    overflow: visible; }
    /* line 15, ../sass/components/footer/_footer-reset.scss */
    .l-footer ul.fa-ul li {
      display: list-item; }
/* line 20, ../sass/components/footer/_footer-reset.scss */
.l-footer a {
  text-decoration: none; }
@media (min-width: 960px) {
  /* line 24, ../sass/components/footer/_footer-reset.scss */
  .l-footer .pane-system-main-menu {
    width: 65.95745%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 27, ../sass/components/footer/_footer-reset.scss */
  .l-footer .social-media {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 1, ../sass/components/footer/_footer.scss */
.l-footer {
  padding: 1em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6);
  clear: both; }
  /* line 7, ../sass/components/footer/_footer.scss */
  .l-footer a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 9, ../sass/components/footer/_footer.scss */
    .l-footer a:hover {
      color: #FEFEFE; }
  /* line 13, ../sass/components/footer/_footer.scss */
  .l-footer h1,
  .l-footer h2 {
    color: #FEFEFE; }
    /* line 16, ../sass/components/footer/_footer.scss */
    .l-footer h1 a,
    .l-footer h2 a {
      color: #FEFEFE; }
      /* line 18, ../sass/components/footer/_footer.scss */
      .l-footer h1 a:hover,
      .l-footer h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 24, ../sass/components/footer/_footer.scss */
  .l-footer .l-region--footer {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 24, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 24, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 24, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 1280px; } }

/* line 2, ../sass/components/footer/_social-icons.scss */
.l-footer .social-media {
  text-align: center; }
  /* line 4, ../sass/components/footer/_social-icons.scss */
  .l-footer .social-media .fa-inverse {
    color: #3b3b42; }

/* line 1, ../sass/components/menus/_menu-main.scss */
.l-region--mainmenu {
  background: #967396;
  clear: left;
  /**********************
   * Mobile menu styles *
   **********************/
  /*****************
   * Standard menu *
   *****************/ }
  /* line 4, ../sass/components/menus/_menu-main.scss */
  .l-region--mainmenu a,
  .l-region--mainmenu .nolink {
    text-decoration: none;
    color: #FEFEFE;
    text-shadow: 0.2em 0.2em 0.5em #3b3b42; }
    /* line 9, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu a:hover,
    .l-region--mainmenu .nolink:hover {
      background: rgba(59, 59, 66, 0.15);
      color: #FEFEFE; }
  /* line 14, ../sass/components/menus/_menu-main.scss */
  .l-region--mainmenu ul {
    list-style-image: none; }
    /* line 16, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu ul li {
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      position: relative; }
      /* line 21, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu ul li.active-trail {
        background: rgba(59, 59, 66, 0.15);
        color: #FEFEFE; }
  @media (max-width: 719px) {
    /* line 34, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .menu {
      max-height: 0;
      overflow: hidden;
      -moz-transition: max-height 600ms ease-in;
      -o-transition: max-height 600ms ease-in;
      -webkit-transition: max-height 600ms ease-in;
      transition: max-height 600ms ease-in; }
    /* line 39, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu [data-menu-state="open"] .menu {
      max-height: 52em; }
    /* line 42, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .mobile-menu-toggle {
      display: block;
      padding: .5em;
      text-align: center; }
    /* line 47, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .mobile-menu-toggle:after {
      position: relative;
      font-family: fontawesome;
      content: "\f0c9";
      font-size: .75em;
      right: -.5em; }
    /* line 59, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu ul.menu {
      padding: 0;
      margin: 0; }
    /* line 63, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu ul li {
      display: block; }
      /* line 65, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li a,
      .l-region--mainmenu .main-menu ul li .nolink {
        position: relative;
        display: block;
        padding: 1em 1.5em;
        border-bottom: 0.0625em solid #E8E8E8; }
      /* line 72, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li.first {
        border-top: 0.0625em solid #E8E8E8; }
      /* line 76, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li.expanded > a:after,
      .l-region--mainmenu .main-menu ul li.expanded > .nolink:after {
        position: absolute;
        font-family: FontAwesome;
        content: "\f078";
        font-size: .75em;
        right: 2em;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      /* line 90, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li ul {
        -webkit-box-shadow: 0 0 1em #3b3b42 inset;
        -moz-box-shadow: 0 0 1em #3b3b42 inset;
        box-shadow: 0 0 1em #3b3b42 inset;
        background: #FEFEFE; }
        /* line 93, ../sass/components/menus/_menu-main.scss */
        .l-region--mainmenu .main-menu ul li ul li {
          background: none;
          border-bottom: 0.0625em solid #3b3b42; }
          /* line 96, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li.first {
            border-top: 0; }
          /* line 99, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li.last {
            border-bottom: 0.0625em solid #E8E8E8; }
          /* line 102, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li a,
          .l-region--mainmenu .main-menu ul li ul li .nolink {
            color: #3b3b42;
            font-size: .75em;
            border-bottom: none;
            text-shadow: none; }
            /* line 108, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu .main-menu ul li ul li a:hover,
            .l-region--mainmenu .main-menu ul li ul li .nolink:hover {
              background: rgba(59, 59, 66, 0.05); } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu {
      height: 4em;
      /**
       * Main menu
       */ }
      /* line 126, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu .mobile-menu-toggle {
        display: none; }
      /* line 133, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu ul {
        width: 720px;
        padding: .5em 1em;
        margin: 0 auto;
        /**
         * Main-menu links
         */ }
        /* line 140, ../sass/components/menus/_menu-main.scss */
        .l-region--mainmenu ul li {
          display: inline-block;
          position: relative;
          -webkit-border-radius: 0.375em;
          -moz-border-radius: 0.375em;
          -ms-border-radius: 0.375em;
          border-radius: 0.375em; }
          /* line 146, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(5n+1) {
            width: 18.51852%;
            float: left;
            margin-right: -100%;
            margin-left: 0;
            clear: none;
            clear: left; }
          /* line 150, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(5n+2) {
            width: 18.51852%;
            float: left;
            margin-right: -100%;
            margin-left: 20.37037%;
            clear: none; }
          /* line 153, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(5n+3) {
            width: 18.51852%;
            float: left;
            margin-right: -100%;
            margin-left: 40.74074%;
            clear: none; }
          /* line 156, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(5n+4) {
            width: 18.51852%;
            float: left;
            margin-right: -100%;
            margin-left: 61.11111%;
            clear: none; }
          /* line 159, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(5n+5) {
            width: 18.51852%;
            float: right;
            margin-left: 0;
            margin-right: 0;
            clear: none;
            clear: right; }
          /* line 163, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li a,
          .l-region--mainmenu ul li .nolink {
            display: block;
            padding: 1em 0;
            -webkit-border-radius: 0.375em;
            -moz-border-radius: 0.375em;
            -ms-border-radius: 0.375em;
            border-radius: 0.375em; }
            /* line 168, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li a:hover,
            .l-region--mainmenu ul li .nolink:hover {
              background: rgba(59, 59, 66, 0.15); }
          /* line 172, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(n) {
            		/**
             		* Sub-menu
             		*/
            /**
             * When hover over item in main menu
             */
            /**
             * Last item in main menu
             */ }
            /* line 176, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li:nth-child(n) ul {
              display: none;
              position: absolute;
              -webkit-border-radius: 0.5em;
              -moz-border-radius: 0.5em;
              -ms-border-radius: 0.5em;
              border-radius: 0.5em;
              box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.06);
              padding: 0;
              top: 48px;
              left: -9.5%;
              width: 9.5em;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s;
              background: #FEFEFE;
              border: 0.0625em solid #5f5f6a;
              /**
               * Sub-menu links
               */ }
              /* line 193, ../sass/components/menus/_menu-main.scss */
              .l-region--mainmenu ul li:nth-child(n) ul li {
                width: 100%;
                margin: 0;
                clear: left;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
                background: none;
                border-bottom: 0.0625em solid #3b3b42;
                display: block;
                color: #fff;
                text-shadow: 0 -0.0625em 0 #3b3b42; }
                /* line 203, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li a,
                .l-region--mainmenu ul li:nth-child(n) ul li .nolink {
                  color: #3b3b42;
                  font-size: .75em;
                  border-bottom: none;
                  text-shadow: none; }
                /* line 210, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.first {
                  -webkit-border-radius: 0.5em 0.5em 0 0;
                  -moz-border-radius: 0.5em 0.5em 0 0;
                  -ms-border-radius: 0.5em 0.5em 0 0;
                  border-radius: 0.5em 0.5em 0 0;
                  border-top: 0; }
                /* line 214, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.last {
                  -webkit-border-radius: 0 0 0.5em 0.5em;
                  -moz-border-radius: 0 0 0.5em 0.5em;
                  -ms-border-radius: 0 0 0.5em 0.5em;
                  border-radius: 0 0 0.5em 0.5em;
                  border-bottom: 0.0625em solid #E8E8E8; }
                /* line 218, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.active-trail {
                  background: rgba(59, 59, 66, 0.15); }
            /* line 226, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li:nth-child(n):hover {
              /**
               * Show sub-menu
               */ }
              /* line 230, ../sass/components/menus/_menu-main.scss */
              .l-region--mainmenu ul li:nth-child(n):hover ul {
                display: block;
                opacity: 1;
                visibility: visible;
                z-index: 99; } }
  @media (min-width: 960px) {
    /* line 257, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu ul {
      width: 960px; }
      /* line 262, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu ul li:nth-child(n) ul, .l-region--mainmenu ul li:nth-child(n).last ul {
        left: -.15em;
        width: 11em; } }

/* line 1, ../sass/components/menus/_menu-user.scss */
.l-usermenu {
  padding: .5em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6); }
  /* line 5, ../sass/components/menus/_menu-user.scss */
  .l-usermenu a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 7, ../sass/components/menus/_menu-user.scss */
    .l-usermenu a:hover {
      color: #FEFEFE; }
  /* line 11, ../sass/components/menus/_menu-user.scss */
  .l-usermenu h1,
  .l-usermenu h2 {
    color: #FEFEFE; }
    /* line 14, ../sass/components/menus/_menu-user.scss */
    .l-usermenu h1 a,
    .l-usermenu h2 a {
      color: #FEFEFE; }
      /* line 16, ../sass/components/menus/_menu-user.scss */
      .l-usermenu h1 a:hover,
      .l-usermenu h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 21, ../sass/components/menus/_menu-user.scss */
  .l-usermenu .l-region--usermenu {
    margin: 0 auto;
    padding: 0 1em; }
    /* line 24, ../sass/components/menus/_menu-user.scss */
    .l-usermenu .l-region--usermenu ul {
      list-style-image: none;
      padding: 0;
      margin: 0;
      text-align: right; }
      /* line 29, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu ul li {
        display: inline-block;
        margin-right: .5em; }
        /* line 32, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li.last {
          margin-right: 0; }
        /* line 35, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li a {
          text-decoration: none; }
    @media (min-width: 720px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 1280px; } }

/* line 3, ../sass/components/sermons/_sermon-cards.scss */
.view-sermons.view-display-id-page .views-row {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 1em;
  padding: .5em; }
  /* line 9, ../sass/components/sermons/_sermon-cards.scss */
  .view-sermons.view-display-id-page .views-row.views-row-even {
    background: rgba(59, 59, 66, 0.1); }
  /* line 12, ../sass/components/sermons/_sermon-cards.scss */
  .view-sermons.view-display-id-page .views-row .views-field {
    float: left;
    clear: both;
    width: 100%; }
    /* line 16, ../sass/components/sermons/_sermon-cards.scss */
    .view-sermons.view-display-id-page .views-row .views-field .field-content {
      float: left;
      clear: both;
      width: 100%; }

/* line 26, ../sass/components/sermons/_sermon-cards.scss */
.sermonCard {
  float: left;
  clear: both;
  width: 100%; }
  /* line 30, ../sass/components/sermons/_sermon-cards.scss */
  .sermonCard .sermonImage {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left;
    margin-bottom: .5em; }
    /* line 34, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonImage img {
      border: .25em solid #3b3b42; }
  /* line 38, ../sass/components/sermons/_sermon-cards.scss */
  .sermonCard .sermonAudio {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
    /* line 41, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonAudio ul {
      border-left: 0.25em solid #8f885e;
      list-style: none;
      padding-left: 1em;
      margin: 0; }
      /* line 46, ../sass/components/sermons/_sermon-cards.scss */
      .sermonCard .sermonAudio ul li {
        padding: .5em 0 .25em; }
        /* line 48, ../sass/components/sermons/_sermon-cards.scss */
        .sermonCard .sermonAudio ul li a {
          text-decoration: none; }
  /* line 54, ../sass/components/sermons/_sermon-cards.scss */
  .sermonCard .sermonContent {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: left; }
    /* line 57, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent p {
      margin: 0; }
    /* line 60, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent h3 {
      margin: .5em 0; }
    /* line 63, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent .sermonDate {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: left;
      font-weight: bold; }
    /* line 68, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent .sermonTitle {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: left;
      font-weight: bold; }
    /* line 73, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent .sermonScripture {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: left; }
  @media (min-width: 960px) {
    /* line 79, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonImage {
      width: 23.40426%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      clear: left; }
    /* line 83, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonAudio {
      width: 23.40426%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: right; }
    /* line 87, ../sass/components/sermons/_sermon-cards.scss */
    .sermonCard .sermonContent {
      width: 48.93617%;
      float: left;
      margin-right: -100%;
      margin-left: 25.53191%;
      clear: none; } }

/* line 24, ../sass/west-ridge.styles.scss */
body {
  background: #FEFEFE;
  min-width: 20em; }

/*# sourceMappingURL=west-ridge.styles.css.map */
