/*@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}
*/
/* line 17, ../sass/west-ridge.hacks.scss */
body.admin-menu {
  margin-top: 1.75em !important; }

/*# sourceMappingURL=west-ridge.hacks.css.map */
