/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/*.l-body {
	margin: 0 auto;
	padding: 0 1em;
}*/
/* line 5, ../../../sass/layouts/ministries/variables/_grid.scss */
.l-maincontent {
  padding: 0; }

@media (min-width: 480px) {
  /*.l-body {
  	width: $smartland;
  }*/ }
@media (min-width: 720px) {
  /*.l-body {
  	width: $tabport;
  }*/
  /* line 18, ../../../sass/layouts/ministries/variables/_grid.scss */
  .l-maincontent {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }

  /* line 22, ../../../sass/layouts/ministries/variables/_grid.scss */
  .l-sidebar {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
@media (min-width: 960px) {
  /*.l-body {
  	width: $tabland;
  }*/ }
@media (min-width: 1280px) {
  /*.l-body {
  	width: $desk;
  }*/ }
/*.pane-upcoming-ministry-events-panel-pane-1 {
	.views-row-odd {
		background: rgba($black, .1);
	}
}*/

/*# sourceMappingURL=ministries.layout.css.map */
