/*
Errno::ENOENT: No such file or directory - /var/www/west-ridge-community-church/sites/all/themes/west_ridge/sass/layouts/ministries/wrcc-sermons.layout.scss

Backtrace:
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:482:in `read'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:82:in `block in _supervise'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:79:in `catch'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:79:in `_supervise'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:61:in `block (3 levels) in run_on_changes'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:56:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:56:in `block (2 levels) in run_on_changes'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:119:in `block (2 levels) in _run_group_plugins'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:117:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:117:in `block in _run_group_plugins'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:116:in `catch'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:116:in `_run_group_plugins'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:54:in `block in run_on_changes'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:53:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/runner.rb:53:in `run_on_changes'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/internals/queue.rb:23:in `process'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/commander.rb:43:in `start'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/cli/environments/valid.rb:16:in `start_guard'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/cli.rb:113:in `start'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/thor-0.19.1/lib/thor/command.rb:27:in `run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/thor-0.19.1/lib/thor/invocation.rb:126:in `invoke_command'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/thor-0.19.1/lib/thor.rb:359:in `dispatch'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/thor-0.19.1/lib/thor/base.rb:440:in `start'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/aruba_adapter.rb:32:in `execute'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/lib/guard/aruba_adapter.rb:19:in `execute!'
/home/vagrant/.rvm/gems/ruby-1.9.3-p551@omega.west_ridge/gems/guard-2.12.5/bin/_guard-core:11:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - /var/www/west-ridge-community-church/sites/all/themes/west_ridge/sass/layouts/ministries/wrcc-sermons.layout.scss"; }
