.pane-search-form {
	text-align: right;
}

.search-block-form {
	position: relative;
	.form-item-search-block-form {
		input {
			background: $grey-light;
			border: solid .0625em rgba($black, .2);
			box-shadow: 0 0 1em $white;
			padding: .5em 2em .5em 1em;
			width: 6.5em;
			@include border-radius (10em);
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
		}
	
		input:focus {
			width: 8em;
			background-color: $white;
			border-color: $grey-dark;
			@include box-shadow (0, 0, 5px, rgba($accent-color,.5));
			@include breakpoint ($smartland, true) {
				width: 10em;
			}
			@include breakpoint ($tabport, true) {
				width: 15em;
			}
			@include breakpoint ($tabland, true) {
				width: 20em;
			}
		}
		input:-moz-placeholder {
			color: rgba($black, .5);
		}
		input::-webkit-input-placeholder {
			color: rgba($black, .5);
		}
	}
	.form-submit {
		border: 0;
		font-family: 'FontAwesome';
		background: none;
		position: absolute;
		right: .25em;
		@include translateY (50%);
		width: auto;
    box-shadow: none;
    padding: 0 .25em;
	}
}
