.l-usermenu {
	padding: .5em 0;
	background: $menu-user-bg;
	color: $menu-user-text;
	a {
		color: $menu-user-text;
		&:hover {
			color: $menu-user-link-hover;
		}
	}
	.l-region--usermenu {
		margin: 0 auto;
		padding: 0 1em;
		ul {
			list-style-image: none;
			padding: 0;
			margin: 0;
			text-align: right;
			li {
				display: inline-block;
				margin-right: .5em;
				&.last {
					margin-right: 0;
				}
				a {
					text-decoration: none;
				}
			}
		}

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}