.menu-toggle-button {
	cursor: pointer;
	// Toggle styles
	.menu-toggle-bar,
	.menu-toggle-bar:before,
	.menu-toggle-bar:after {
		display: block;
		position: relative;
		width: 2.5em;
		height: .25em;
		content: '';
		background-color: $menu-main-toggle;
		@include border-radius(1em);
		@include transition(.3s);
	}
	// Individual toggle bar positioning
	.menu-toggle-bar {
		@include translateY(50%);
		margin: 0 auto;
		&:before {
			top: -.5em;
		}
		&:after {
			top: .25em;
		}
	}
	&.active {
		.menu-toggle-bar {
			background: transparent;
			&:before,
			&:after {
				top: 50%;
				margin-top: -0.25em;
				-webkit-transform-origin: 50% 50%;
				-ms-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}