.pane-system-main-menu {
	// Keep menu in the natural flow of the header
	position: relative;
	.menu-wrapper {
		// Absolutely position the menu over content
		position: absolute;
		width: 100%;
		@include breakpoint($tabport, true) {
			width: $tabport - 32px;
		}
		z-index: 999;
		background: $menu-main-bg;
		@include transition(.5s);
		// Hide menu by default
		max-height: 0;
		overflow: hidden;
		// Menu styles
		ul {
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			li {
				border-bottom: .0625em solid $menu-main-border;
				a {
					display: block;
					padding: 1em 1.5em;
					color: $menu-main-text;
					text-decoration: none;
					&:hover {
						color: $menu-main-link-hover;
					}
				}
				// First li
				&.first {
					border-top: .0625em solid $menu-main-border;
				}
				&:hover {
					background: rgba($black, .05);
				}
				// Expanded li
				&.expanded {
					position: relative;
					> a:after {
						position: absolute;
						font-family: FontAwesome;
						content: "\f078"; // Down Arrow
						font-size: .75em;
						right: 1em;
						color: $menu-main-a-after;
						transform: rotate(0deg);
						@include transition(.5s);
					}
					ul {
						max-height: 0;
						overflow: hidden;
						@include transition(.5s);
					}
					// Open Expanded li
					&.open {
						ul {
							max-height: 30em;
						}
						> a:after {
							transform: rotate(180deg);
						}
					}
				}
				// Sub-menu
				ul {
					@include box-shadow(0, 0, 1em, $grey-dark, inset);
					li {
						border-bottom: .0625em solid $grey-dark;
						&.first {
							border-top: 0;
						}
						&.last {
							border-bottom: 0;
						}
						a {
							font-size: .75em;
						}
					}
				}
			}
		}
	}
	&.active {
		.menu-wrapper {
			// Show menu when active
			position: fixed;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			background: rgba($white, .95);
			border-top: .0625em solid $grey-light;
		}
	}
}

.l-page {
	&.active {
		//position: static;
    //width: 100%;
    //overflow: hidden;
	}
}