@include breakpoint ($tabland) {
	.menu-toggle-button {
		display: none;
	}
	.pane-system-main-menu {
		.menu-wrapper {
			position: relative;
			max-height: 5em;
			overflow: visible;
			margin: 0 auto;
			> ul {
				> li {
					display: inline-block;
					position: relative;
					border-bottom: 0;
					&.first {
						border-top-color: transparent;
					}
					a {
						display: block;
					}
					&:hover {
						@include border-radius-all(.5em, .5em, 0, 0);
					}
					&.expanded {
						> a:after {
							right: .5em;
						}
						&:hover {
							ul {
								max-height: 30em;
							}
							> a:after {
								transform: rotate(180deg);
							}
						}
					}
					&:nth-child(n) {
						ul {
							position: absolute;
							background: $white;
							box-shadow: none;
							@include border-radius-all(0, 0, .5em, .5em);
							width: 100%;
							li {
								display: block;
								border-bottom: .0625em solid $sub-menu-border;
								border-left: .0625em solid $sub-menu-border;
								border-right: .0625em solid $sub-menu-border;
								&.first {
									border-top: .0625em solid $sub-menu-border;
								}
								&.last {
									@include border-radius-all(0, 0, .5em, .5em);
								}
							}
						}
					}
				}
			}
		}
	}
}