/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* No files to import found in variables/**\/* */
/* line 4, ../../../sass/layouts/calendar/components/_calendar-header.scss */
.view-calendar .view-header .date-nav,
.view-full-calendar .view-header .date-nav {
  padding-bottom: 0; }
  @media (max-width: 719px) {
    /* line 4, ../../../sass/layouts/calendar/components/_calendar-header.scss */
    .view-calendar .view-header .date-nav,
    .view-full-calendar .view-header .date-nav {
      padding-bottom: 1.5em; } }
  /* line 9, ../../../sass/layouts/calendar/components/_calendar-header.scss */
  .view-calendar .view-header .date-nav ul,
  .view-full-calendar .view-header .date-nav ul {
    list-style: none; }
    /* line 11, ../../../sass/layouts/calendar/components/_calendar-header.scss */
    .view-calendar .view-header .date-nav ul li,
    .view-full-calendar .view-header .date-nav ul li {
      padding: .5em 0; }
      /* line 13, ../../../sass/layouts/calendar/components/_calendar-header.scss */
      .view-calendar .view-header .date-nav ul li a,
      .view-full-calendar .view-header .date-nav ul li a {
        margin: 0;
        padding: .5em 1em; }
      /* line 17, ../../../sass/layouts/calendar/components/_calendar-header.scss */
      .view-calendar .view-header .date-nav ul li.date-prev,
      .view-full-calendar .view-header .date-nav ul li.date-prev {
        right: 5.5em; }
    @media (max-width: 719px) {
      /* line 22, ../../../sass/layouts/calendar/components/_calendar-header.scss */
      .view-calendar .view-header .date-nav ul li,
      .view-full-calendar .view-header .date-nav ul li {
        bottom: 0;
        top: auto; }
        /* line 25, ../../../sass/layouts/calendar/components/_calendar-header.scss */
        .view-calendar .view-header .date-nav ul li.date-prev,
        .view-full-calendar .view-header .date-nav ul li.date-prev {
          right: 50%;
          left: auto;
          margin-right: .25em; }
        /* line 30, ../../../sass/layouts/calendar/components/_calendar-header.scss */
        .view-calendar .view-header .date-nav ul li.date-next,
        .view-full-calendar .view-header .date-nav ul li.date-next {
          left: 50%;
          right: auto;
          margin-left: .25em; } }

@media (max-width: 719px) {
  /* line 1, ../../../sass/layouts/calendar/components/_calendar-month.scss */
  .view-calendar.view-display-id-page_1,
  .tabs--primary {
    display: none; } }

/*# sourceMappingURL=calendar.layout.css.map */
