.l-highlighted {
	background: $black url(/sites/all/themes/west_ridge/images/vinyard.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	color: $white;
	border-top: .125em solid $black;
	border-bottom: .125em solid $black;
	p {
		margin: 1em 0 2em;
		text-shadow: .125em .125em .125em $black;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			padding: 1em .25em;
			&.home-featured {
				display: inline;
				a {
					background: rgba($grey-light, .75);
					border-radius: .5em;
					padding: 1em;
					color: $black;
					text-decoration: none;
					box-shadow: .125em .125em .125em #3b3b42;
					&:hover {
						background: rgba($grey-light, .5);
					}
				}
			}
			&.last {
				margin-bottom: 0;
			}
		}
	}
	@include breakpoint ($smartland, true) {
		height: 20em;
		p {
			font-size: 1.75em;
		}
		ul {
			li {
				&.home-featured {
					margin-right: 1em;
					a {
						font-size: 1.25em;
						line-height: 2em;
					}
					&.last {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.l-region--highlighted {
	border-top: .25em solid rgba($white, .5);
	margin-top: 1em;
}