.view-id-homepage_blocks {
	.views-row {
		text-align: center;
		margin-bottom: 1em;
		a {
			text-decoration: none;
		}
		&:hover {
			img {
				opacity: .75;
			}
		}
	}
	img {
		width: 100%;
	}
	.views-row:nth-child(2n+1) {
		@include grid-span(6, 1);
		clear: left;
	}
	.views-row:nth-child(2n+2) {
		@include grid-span(6, 7);
		clear: right;
	}
	@include breakpoint ($tabport, true) {

		.views-row:nth-child(3n+1) {
			@include grid-span(4, 1);
			clear: left;
		}
		.views-row:nth-child(3n+2) {
			@include grid-span(4, 5);
		}
		.views-row:nth-child(3n+3) {
			@include grid-span(4, 9);
			clear: right;
		}
	}
}