.pane-upcoming-events-panel-pane-2 {
	text-align: center;
	h2 {
		margin: 0 0 1em;
	}
	a {
		text-decoration: none;
		font-weight: bold;
		&:hover {
			color: rgba($black, .75);
		}
	}
	.views-row {
		text-align: center;
		vertical-align: top;
		&.views-row-1 {
			@include grid-span (4, 1);
		}
		&.views-row-2 {
			@include grid-span (4, 5);
		}
		&.views-row-3 {
			@include grid-span (4, 9);
		}
	}
	.next-3-date {
		.date {
			font-size: 3em;
			font-weight: bold;
		}
	}
	.views-field-field-event-date-2 {
		border-top: .25em solid rgba($black, .75);
		margin: .25em 0 0;
		padding: .25em 0 0;
		&.date-display-single {
			font-size: .75em;
			font-style: italic;
		}
	}
	@include breakpoint ($tabport, true) {
		.views-row {
			text-align: left;
		}
		.views-field-field-event-date-1 {
			float: left;
			border-right: 0.5em solid rgba($black, .75);
			padding-right: .75em;
			margin-right: .75em;
			text-align: center;
		}
		.views-field-field-event-date-2 {
			border: 0;
			margin: 0 0 0 .25em;
			padding: 0 0 0 .5em;
		}
	}
}