/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* Center horizontally */
/* No files to import found in variables/**\/* */
/* line 1, ../../../sass/layouts/home/components/_header-home.scss */
.l-header {
  background: url(/sites/all/themes/filimin/images/filiminhero.jpg) no-repeat;
  background-size: 100% auto;
  background-position: center;
  min-height: 12em;
  min-height: 18em;
  min-height: 28em;
  min-height: 30em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-height: 35em; }

/* line 12, ../../../sass/layouts/home/home.layout.scss */
.l-maincontent {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 16, ../../../sass/layouts/home/home.layout.scss */
.l-sidebar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/* line 21, ../../../sass/layouts/home/home.layout.scss */
.l-maincontent {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none; }

/* line 25, ../../../sass/layouts/home/home.layout.scss */
.l-sidebar {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*# sourceMappingURL=home.layout.no-query.css.map */
