.l-highlighted {
	padding: 1em 0;
	background: $highlighted-bg;
	color: $highlighted-text;
	border-bottom: .25em solid $white;
	a {
		color: $highlighted-text;
		&:hover {
			color: $highlighted-link-hover;
		}
	}
	h1,
	h2 {
		color: $highlighted-header;
		a {
			color: $highlighted-header;
			&:hover {
				color: $highlighted-text;
			}
		}
	}
	.l-region--highlighted {
		margin: 0 auto;
		padding: 0 1em;

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}