.entitytype-request_an_appointment-form {
	.field-name-field-appt-req-preferred-day {
		@include grid-span(6,1);
		clear: left;
	}

	.field-name-field-appt-req-preferred-time {
		@include grid-span(6,7);
		clear: right;
	}

	.field-name-field-appt-req-message {
		clear: both;
	}

	.form-actions {
		clear: both;
		input {
			font-size: 1.5em;
	    padding: .5em;
		}
	}

	@include breakpoint ($smartland) {
		.field-name-field-appt-req-name {
			@include grid-span(6,1);
		}
		.field-name-field-appt-req-phone {
			@include grid-span(6,7);
		}
	}

	@include breakpoint ($tabport) {
		.field-name-field-appt-req-preferred-day {
			@include grid-span(3,1);
			clear: left;
		}
		.field-name-field-appt-req-preferred-time {
			@include grid-span(3,4);
		}
		.field-name-field-appt-req-message {
			@include grid-span(6,7);
			clear: right;
			textarea {
				min-height: 7.75em;
			}
		}
	}

	@include breakpoint ($tabland, true) {
		.field-name-field-appt-req-name {
			@include grid-span(4,1);
		}
		.field-name-field-appt-req-phone {
			@include grid-span(4,1);
			position: relative;
			top: 3em;
		}
		.field-name-field-appt-req-preferred-day {
			@include grid-span(2,1);
			position: relative;
			top: 6em;
		}
		.field-name-field-appt-req-preferred-time {
			@include grid-span(2,3);
			position: relative;
			top: 6em;
		}
		.field-name-field-appt-req-message {
			@include grid-span(8,5);
			clear: right;
			textarea {
				min-height: 14em;
			}
		}
	}
}
