.l-contenttop {
	background: $content-top-bg;
	color: $content-top-text;
	a {
		color: $content-top-text;
		&:hover {
			color: $content-top-link-hover;
		}
	}
	h1,
	h2 {
		padding: 1em;
		text-align: center;
		color: $content-top-header;
		a {
			color: $content-top-header;
			&:hover {
				color: $content-top-text;
			}
		}
	}
	.l-region--contenttop {
		//position: relative;
	}
}