/* Grid */

$grids: 12;
$gutters: 1/3;
$body-min-width: 20em;

/* Default Breakpoints */

$smartland: 480px;
$tabport: 720px;
$tabland: 960px;
$desk: 1280px;

/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
$mobile: 719px;

/**
 * Main Menu Breakpoints
 * (Min Width)
 */

$menu-main-small: $smartland;
$menu-main-medium: $tabport;
$menu-main-large: $tabland;
$menu-main-xl: $desk;

/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */

$menu-mobile: $mobile;

/**
 * Mobile Calendar
 */

//$calendar-mobile: $mobile;

/* Footer Menu Breakpoints */

//$menu-footer-small: 321px;
//$menu-footer-large: 490px;

/* Logo Breakpoints */

//$logo-small: 380px;
//$logo-medium: 381px 719px;
//$logo-large: 720px 979px;
//$logo-xl: 980px;