/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-all($radiustl, $radiustr, $radiusbr, $radiusbl) {
  -webkit-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
     -moz-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
      -ms-border-radius: $radiustl $radiustr $radiusbr $radiusbl;
          border-radius: $radiustl $radiustr $radiusbr $radiusbl;
}

/* Box Shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
     -moz-box-shadow:$top $left $blur $color #{$inset};
  	    	box-shadow:$top $left $blur $color #{$inset};
    }

/* Center vertically */
@mixin translateY($percent) {
                top: $percent;
  -webkit-transform: translateY(-$percent);
      -ms-transform: translateY(-$percent);
          transform: translateY(-$percent);
}

/* Center horizontally */
@mixin translateX($percent) {
                left: $percent;
  -webkit-transform: translateX(-$percent);
      -ms-transform: translateX(-$percent);
          transform: translateX(-$percent);
}
