.pane-sermons-panel-pane-1 {
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	h2 {
		margin: 0;
	}
	h3 {
		border-bottom: .0625em solid;
		margin: 1em 0 .5em;
	}
	.views-row {
		margin: 0 0 .5em 1em;
	}
	@include breakpoint ($smartland, true) {
		margin: 0;
	}
}