.node--sermon {
	.field {
		margin: .5em 0;
	}
	.field--name-field-sermon-tags {
		.field__items {
			.field__item {
				display: inline-block;
				margin-right: .5em;
			}
		}
	}
	@include breakpoint ($tabland, true) {
		.field--name-field-sermon-image {
			@include grid-span (6, 1);
			clear: left;
		}
		.field--name-field-sermon-audio-file {
			@include grid-span (6, 7);
			clear: right;
		}
		.field--name-field-sermon-date {
			clear: left;
		}
	}
}

.mediaelement-download-link {
	margin: .5em 0;
	a {
		position: relative;
		margin-bottom: .5em;
		padding-left: 1.25em;
		&:before {
			position:absolute;
			font-family: FontAwesome;
			top:0;
			left:0;
			content: "\f019";
		}
	}
}