.l-footer {
	.mobile-menu-toggle {
		display: none;
	}
	ul {
		padding: 0;
	}
	.pane-system-main-menu {
		ul {
			li {
				width: 50%;
				float: left;
				text-align: center;
				padding: .5em 0;
				a {
					padding: .5em 0;
				}
				@include breakpoint ($smartland, true) {
					@include add-grid(5);
					@include add-gutter(1/10);
					&:nth-child(5n+1) {
						@include grid-span(1,1);
						clear: left;
					}
					&:nth-child(5n+2) {
						@include grid-span(1,2);
					}
					&:nth-child(5n+3) {
						@include grid-span(1,3);
					}
					&:nth-child(5n+4) {
						@include grid-span(1,4);
					}
					&:nth-child(5n+5) {
						@include grid-span(1,5);
						clear: right;
					}
					@include add-grid(12);
					@include add-gutter(1/3);
				}

				ul {
					display: none;
				}
			}
		}
	}
}