.l-footer {
	padding: 1em 0;
	background: $footer-bg;
	color: $footer-text;
	clear: both;
	//margin-top: 1em;
	a {
		color: $footer-text;
		&:hover {
			color: $footer-link-hover;
		}
	}
	h1,
	h2 {
		color: $footer-header;
		a {
			color: $footer-header;
			&:hover {
				color: $footer-text;
			}
		}
	}
	ul {
		padding: 0;
	}

	.l-region--footer {
		margin: 0 auto;
		padding: 0 1em;

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}

}