/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* Center horizontally */
/* line 1, ../sass/abstractions/_block-title.scss */
.block-title, .block-title-alt, .pane-testimonials-panel-pane-1 .pane-title {
  display: block;
  text-align: center;
  background-color: #015792;
  color: #FEFEFE;
  border: 0.0625em solid #01395f;
  -webkit-border-radius: 0.25em 0.25em 0 0;
  -moz-border-radius: 0.25em 0.25em 0 0;
  -ms-border-radius: 0.25em 0.25em 0 0;
  border-radius: 0.25em 0.25em 0 0;
  font-weight: bold;
  padding: 1em;
  text-decoration: none; }

/* line 13, ../sass/abstractions/_block-title.scss */
.block-title-alt, .pane-testimonials-panel-pane-1 .pane-title {
  background-color: #C54A15;
  border: 0.0625em solid #973910; }

/* line 1, ../sass/abstractions/_buttons.scss */
.btn, .btn-alt, .mailchimp-signup-subscribe-form .form-actions input {
  display: block;
  text-align: center;
  background-color: #015792;
  color: #FEFEFE;
  border: 0.0625em solid #01395f;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  font-weight: bold;
  padding: 1em;
  text-decoration: none; }
  /* line 11, ../sass/abstractions/_buttons.scss */
  .btn:hover, .btn-alt:hover, .mailchimp-signup-subscribe-form .form-actions input:hover {
    color: #e5e5e5;
    background-color: #01395f; }

/* line 17, ../sass/abstractions/_buttons.scss */
.btn-alt {
  background-color: #C54A15;
  border: 0.0625em solid #973910; }
  /* line 21, ../sass/abstractions/_buttons.scss */
  .btn-alt:hover {
    background-color: #973910; }

/* line 1, ../sass/base/_effects.scss */
a {
  transition: all .3s ease-in-out; }

/* line 1, ../sass/base/_forms.scss */
input {
  width: 100%;
  outline: none;
  background: #E8E8E8;
  border: solid 0.0625em rgba(59, 59, 66, 0.2);
  box-shadow: 0 0 1em #FEFEFE;
  padding: .5em 2em .5em 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

/* line 14, ../sass/base/_forms.scss */
input:focus {
  background-color: #FEFEFE;
  border-color: #3b3b42;
  -webkit-box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ;
  -moz-box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ;
  box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ; }

/* line 20, ../sass/base/_forms.scss */
input:-moz-placeholder {
  color: rgba(59, 59, 66, 0.5); }

/* line 24, ../sass/base/_forms.scss */
input::-webkit-input-placeholder {
  color: rgba(59, 59, 66, 0.5); }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }
  /* line 3, ../sass/base/_tables.scss */
  table td,
  table th {
    padding: .25em .5em; }

/* line 1, ../sass/base/_typography.scss */
body {
  color: #3b3b42; }
  /* line 3, ../sass/base/_typography.scss */
  body a {
    color: #015792; }
    /* line 5, ../sass/base/_typography.scss */
    body a:hover {
      color: #3b3b42; }

/* line 11, ../sass/base/_typography.scss */
blockquote {
  font-style: italic;
  font-family: Georgia, Times, "Times New Roman", serif;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
  border-left-width: 5px;
  padding: 0.125em 0.5em 0.125em 1.25em;
  margin: 1em 3em; }

/* line 1, ../sass/components/_body.scss */
.l-body {
  margin: 0 auto;
  padding: 1em;
  overflow: hidden; }
  @media (min-width: 480px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 1, ../sass/components/_body.scss */
    .l-body {
      width: 1280px; } }

/* line 1, ../sass/components/_help.scss */
.l-region--help {
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 480px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 1, ../sass/components/_help.scss */
    .l-region--help {
      width: 1280px; } }

/* line 1, ../sass/components/_hero-content.scss */
.hello .overlayVideo {
  position: absolute;
  left: -3000px;
  top: 0px;
  z-index: 6;
  visibility: hidden; }

/* line 8, ../sass/components/_hero-content.scss */
.hello .backgroundVideo {
  z-index: 4;
  visibility: hidden; }

/* line 12, ../sass/components/_hero-content.scss */
.hello #video_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  opacity: 1; }

/* line 20, ../sass/components/_hero-content.scss */
.hello #video_container #text {
  position: absolute;
  z-index: 6;
  text-align: center;
  opacity: 0; }

/* line 26, ../sass/components/_hero-content.scss */
.hello #video_container #text #actions {
  height: 95px; }

/* line 29, ../sass/components/_hero-content.scss */
.hello #video_container #text #playbutton {
  z-index: 3;
  margin: 0 auto;
  margin-top: 60px;
  height: 95px;
  display: block; }

/* line 36, ../sass/components/_hero-content.scss */
.hello #video_container #text #playbutton .rectangle {
  background-color: #3ea9f5;
  width: 149px;
  height: 95px;
  opacity: 0.8;
  margin: 0 auto; }

/* line 43, ../sass/components/_hero-content.scss */
.hello #video_container #text #playbutton .rectangle:hover {
  background-color: #52bdff;
  cursor: pointer; }

/* line 47, ../sass/components/_hero-content.scss */
.hello #video_container #text #playbutton .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 32px;
  border-color: transparent transparent transparent white;
  margin: 0 auto;
  position: relative;
  bottom: 70px;
  pointer-events: none; }

/* line 58, ../sass/components/_hero-content.scss */
.hello #cover_all {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%; }

/* line 66, ../sass/components/_hero-content.scss */
.hello #ex {
  position: absolute;
  right: -3000px;
  top: 25px;
  z-index: 7;
  cursor: pointer;
  opacity: 0.8; }

/* line 74, ../sass/components/_hero-content.scss */
.hello #ex:hover {
  opacity: 1; }

/* line 77, ../sass/components/_hero-content.scss */
.hello #main-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url(../images/FiliminHero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

/*.l-page {
	@include breakpoint($menu-main-medium) {
		margin-top: 4em;
	}
}*/
/* line 1, ../sass/components/_search.scss */
.pane-search-form {
  text-align: right; }

/* line 5, ../sass/components/_search.scss */
.search-block-form {
  position: relative; }
  /* line 8, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input {
    background: #E8E8E8;
    border: solid 0.0625em rgba(59, 59, 66, 0.2);
    box-shadow: 0 0 1em #FEFEFE;
    padding: .5em 2em .5em 1em;
    width: 6.5em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
  /* line 20, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input:focus {
    width: 8em;
    background-color: #FEFEFE;
    border-color: #3b3b42;
    -webkit-box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ;
    -moz-box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ;
    box-shadow: 0 0 5px rgba(1, 87, 146, 0.5) ; }
    @media (min-width: 480px) {
      /* line 20, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 10em; } }
    @media (min-width: 720px) {
      /* line 20, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 15em; } }
    @media (min-width: 960px) {
      /* line 20, ../sass/components/_search.scss */
      .search-block-form .form-item-search-block-form input:focus {
        width: 20em; } }
  /* line 35, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input:-moz-placeholder {
    color: rgba(59, 59, 66, 0.5); }
  /* line 38, ../sass/components/_search.scss */
  .search-block-form .form-item-search-block-form input::-webkit-input-placeholder {
    color: rgba(59, 59, 66, 0.5); }
  /* line 42, ../sass/components/_search.scss */
  .search-block-form .form-submit {
    border: 0;
    font-family: 'FontAwesome';
    background: none;
    position: absolute;
    right: .25em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    box-shadow: none;
    padding: 0 .25em; }

/* line 2, ../sass/components/_social-icons.scss */
.l-footer .social-media {
  text-align: center; }
  /* line 4, ../sass/components/_social-icons.scss */
  .l-footer .social-media .fa-inverse {
    color: #3b3b42; }

/* line 1, ../sass/components/content/contentbottom/_content-bottom.scss */
.l-contentbottom {
  padding: 1em 0 3em;
  background: rgba(59, 59, 66, 0.07);
  color: #3b3b42;
  overflow: hidden; }
  /* line 6, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom a {
    color: #3b3b42; }
    /* line 8, ../sass/components/content/contentbottom/_content-bottom.scss */
    .l-contentbottom a:hover {
      color: #3b3b42; }
  /* line 12, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom h1,
  .l-contentbottom h2 {
    color: #015792; }
    /* line 15, ../sass/components/content/contentbottom/_content-bottom.scss */
    .l-contentbottom h1 a,
    .l-contentbottom h2 a {
      color: #015792; }
      /* line 17, ../sass/components/content/contentbottom/_content-bottom.scss */
      .l-contentbottom h1 a:hover,
      .l-contentbottom h2 a:hover {
        color: #3b3b42; }
  /* line 22, ../sass/components/content/contentbottom/_content-bottom.scss */
  .l-contentbottom .l-region--contentbottom {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 22, ../sass/components/content/contentbottom/_content-bottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 22, ../sass/components/content/contentbottom/_content-bottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 22, ../sass/components/content/contentbottom/_content-bottom.scss */
      .l-contentbottom .l-region--contentbottom {
        width: 1280px; } }

/* line 1, ../sass/components/content/contenttop/_content-top.scss */
.l-contenttop {
  padding: 1em 0;
  background: #C54A15;
  color: rgba(254, 254, 254, 0.6);
  text-align: center; }
  /* line 7, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop p {
    margin: 0; }
  /* line 10, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 12, ../sass/components/content/contenttop/_content-top.scss */
    .l-contenttop a:hover {
      color: #FEFEFE; }
  /* line 16, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop h1,
  .l-contenttop h2 {
    color: #FEFEFE;
    margin: 0; }
    /* line 20, ../sass/components/content/contenttop/_content-top.scss */
    .l-contenttop h1 a,
    .l-contenttop h2 a {
      color: #FEFEFE; }
      /* line 22, ../sass/components/content/contenttop/_content-top.scss */
      .l-contenttop h1 a:hover,
      .l-contenttop h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 27, ../sass/components/content/contenttop/_content-top.scss */
  .l-contenttop .l-region--contenttop {
    margin: 0 auto;
    padding: 0 1em;
    position: relative; }
    @media (min-width: 720px) {
      /* line 27, ../sass/components/content/contenttop/_content-top.scss */
      .l-contenttop .l-region--contenttop {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 27, ../sass/components/content/contenttop/_content-top.scss */
      .l-contenttop .l-region--contenttop {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 27, ../sass/components/content/contenttop/_content-top.scss */
      .l-contenttop .l-region--contenttop {
        width: 1280px; } }

/* line 3, ../sass/components/footer/_footer-reset.scss */
.l-footer .menu-wrapper,
.l-footer .menu,
.l-footer .social {
  overflow: hidden; }
/* line 8, ../sass/components/footer/_footer-reset.scss */
.l-footer ul {
  overflow: hidden; }
  /* line 10, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul li {
    display: inline-block; }
  /* line 13, ../sass/components/footer/_footer-reset.scss */
  .l-footer ul.fa-ul {
    overflow: visible; }
    /* line 15, ../sass/components/footer/_footer-reset.scss */
    .l-footer ul.fa-ul li {
      display: list-item; }
/* line 20, ../sass/components/footer/_footer-reset.scss */
.l-footer a {
  text-decoration: none; }

/* line 1, ../sass/components/footer/_footer.scss */
.l-footer {
  padding: 1em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6);
  clear: both; }
  /* line 7, ../sass/components/footer/_footer.scss */
  .l-footer a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 9, ../sass/components/footer/_footer.scss */
    .l-footer a:hover {
      color: #FEFEFE; }
  /* line 13, ../sass/components/footer/_footer.scss */
  .l-footer h1,
  .l-footer h2 {
    color: #FEFEFE; }
    /* line 16, ../sass/components/footer/_footer.scss */
    .l-footer h1 a,
    .l-footer h2 a {
      color: #FEFEFE; }
      /* line 18, ../sass/components/footer/_footer.scss */
      .l-footer h1 a:hover,
      .l-footer h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 23, ../sass/components/footer/_footer.scss */
  .l-footer ul {
    padding: 0; }
  /* line 27, ../sass/components/footer/_footer.scss */
  .l-footer .l-region--footer {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 27, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 27, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 27, ../sass/components/footer/_footer.scss */
      .l-footer .l-region--footer {
        width: 1280px; } }

/* line 1, ../sass/components/header/_header.scss */
.l-header {
  background: #000000; }

/* line 5, ../sass/components/header/_header.scss */
.l-region--header {
  overflow: visible;
  position: relative; }
  /* line 9, ../sass/components/header/_header.scss */
  .l-region--header .pane-page-logo {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
    @media (min-width: 960px) {
      /* line 9, ../sass/components/header/_header.scss */
      .l-region--header .pane-page-logo {
        width: 32.20339%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none;
        clear: left; } }
    /* line 16, ../sass/components/header/_header.scss */
    .l-region--header .pane-page-logo img {
      max-width: 50%;
      /*border-radius: .75em;
      box-shadow: 0 0 2em $white;
      @include breakpoint ($desk, true) {
      	border-radius: 1.5em;
      }*/ }
  /* line 26, ../sass/components/header/_header.scss */
  .l-region--header .pane-search-form {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
    @media (min-width: 960px) {
      /* line 26, ../sass/components/header/_header.scss */
      .l-region--header .pane-search-form {
        width: 66.10169%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none;
        clear: right; } }
  /* line 35, ../sass/components/header/_header.scss */
  .l-region--header .pane-logo-search {
    position: relative;
    top: 0;
    padding: 2em;
    width: 100%; }

/* line 1, ../sass/components/highlighted/_highlighted.scss */
.l-highlighted {
  padding: 1em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6);
  border-bottom: 0.25em solid #FEFEFE; }
  /* line 6, ../sass/components/highlighted/_highlighted.scss */
  .l-highlighted a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 8, ../sass/components/highlighted/_highlighted.scss */
    .l-highlighted a:hover {
      color: #FEFEFE; }
  /* line 12, ../sass/components/highlighted/_highlighted.scss */
  .l-highlighted h1,
  .l-highlighted h2 {
    color: #FEFEFE; }
    /* line 15, ../sass/components/highlighted/_highlighted.scss */
    .l-highlighted h1 a,
    .l-highlighted h2 a {
      color: #FEFEFE; }
      /* line 17, ../sass/components/highlighted/_highlighted.scss */
      .l-highlighted h1 a:hover,
      .l-highlighted h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 22, ../sass/components/highlighted/_highlighted.scss */
  .l-highlighted .l-region--highlighted {
    margin: 0 auto;
    padding: 0 1em; }
    @media (min-width: 720px) {
      /* line 22, ../sass/components/highlighted/_highlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 22, ../sass/components/highlighted/_highlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 22, ../sass/components/highlighted/_highlighted.scss */
      .l-highlighted .l-region--highlighted {
        width: 1280px; } }

/*.l-mainmenu {
	@include breakpoint($menu-main-medium) {
		position: fixed;
		top: 0;
		width: 100%;
		height: 4em;
		z-index: 99;
	}
}*/
/* line 10, ../sass/components/menus/_menu-main.scss */
.l-region--mainmenu {
  background: #015792;
  clear: left;
  /**********************
   * Mobile menu styles *
   **********************/
  /*****************
   * Standard menu *
   *****************/ }
  /* line 13, ../sass/components/menus/_menu-main.scss */
  .l-region--mainmenu a,
  .l-region--mainmenu .nolink {
    text-decoration: none;
    color: #FEFEFE;
    text-shadow: 0.2em 0.2em 0.5em #3b3b42; }
    /* line 18, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu a:hover,
    .l-region--mainmenu .nolink:hover {
      background: rgba(59, 59, 66, 0.15);
      color: #FEFEFE; }
  /* line 23, ../sass/components/menus/_menu-main.scss */
  .l-region--mainmenu ul {
    list-style-image: none; }
    /* line 25, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu ul li {
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      position: relative; }
      /* line 30, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu ul li.active-trail {
        background: rgba(59, 59, 66, 0.15);
        color: #FEFEFE; }
  @media (max-width: 719px) {
    /* line 43, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .menu {
      max-height: 0;
      overflow: hidden;
      -moz-transition: max-height 600ms ease-in;
      -o-transition: max-height 600ms ease-in;
      -webkit-transition: max-height 600ms ease-in;
      transition: max-height 600ms ease-in; }
    /* line 48, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu [data-menu-state="open"] .menu {
      max-height: 52em; }
    /* line 51, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .mobile-menu-toggle {
      display: block;
      padding: .5em;
      text-align: center; }
    /* line 56, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu .mobile-menu-toggle:after {
      position: relative;
      font-family: fontawesome;
      content: "\f0c9";
      font-size: .75em;
      right: -.5em; }
    /* line 68, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu ul.menu {
      padding: 0;
      margin: 0; }
    /* line 72, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu .main-menu ul li {
      display: block; }
      /* line 74, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li a,
      .l-region--mainmenu .main-menu ul li .nolink {
        position: relative;
        display: block;
        padding: 1em 1.5em;
        border-bottom: 0.0625em solid #E8E8E8; }
      /* line 81, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li.first {
        border-top: 0.0625em solid #E8E8E8; }
      /* line 85, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li.expanded > a:after,
      .l-region--mainmenu .main-menu ul li.expanded > .nolink:after {
        position: absolute;
        font-family: FontAwesome;
        content: "\f078";
        font-size: .75em;
        right: 2em;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      /* line 99, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu ul li ul {
        -webkit-box-shadow: 0 0 1em #3b3b42 inset;
        -moz-box-shadow: 0 0 1em #3b3b42 inset;
        box-shadow: 0 0 1em #3b3b42 inset;
        background: #FEFEFE; }
        /* line 102, ../sass/components/menus/_menu-main.scss */
        .l-region--mainmenu .main-menu ul li ul li {
          background: none;
          border-bottom: 0.0625em solid #3b3b42; }
          /* line 105, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li.first {
            border-top: 0; }
          /* line 108, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li.last {
            border-bottom: 0.0625em solid #E8E8E8; }
          /* line 111, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu .main-menu ul li ul li a,
          .l-region--mainmenu .main-menu ul li ul li .nolink {
            color: #3b3b42;
            font-size: .75em;
            border-bottom: none;
            text-shadow: none; }
            /* line 117, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu .main-menu ul li ul li a:hover,
            .l-region--mainmenu .main-menu ul li ul li .nolink:hover {
              background: rgba(59, 59, 66, 0.05); } }
  @media (min-width: 720px) {
    /* line 10, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu {
      /**
       * Main menu
       */ }
      /* line 134, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu .main-menu .mobile-menu-toggle {
        display: none; }
      /* line 141, ../sass/components/menus/_menu-main.scss */
      .l-region--mainmenu ul {
        padding: .5em 1em;
        margin: 0 auto;
        /**
         * Main-menu links
         */ }
        /* line 148, ../sass/components/menus/_menu-main.scss */
        .l-region--mainmenu ul li {
          display: inline-block;
          position: relative;
          -webkit-border-radius: 0.375em;
          -moz-border-radius: 0.375em;
          -ms-border-radius: 0.375em;
          border-radius: 0.375em;
          /*@include add-grid(5);
          @include add-gutter(1/10);
          &:nth-child(5n+1) {
          	@include grid-span(1,1);
          	clear: left;
          }
          &:nth-child(5n+2) {
          	@include grid-span(1,2);
          }
          &:nth-child(5n+3) {
          	@include grid-span(1,3);
          }
          &:nth-child(5n+4) {
          	@include grid-span(1,4);
          }
          &:nth-child(5n+5) {
          	@include grid-span(1,5);
          	clear: right;
          }*/
          /*@include add-grid(12);
          @include add-gutter(1/3);*/ }
          /* line 171, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li a,
          .l-region--mainmenu ul li .nolink {
            display: block;
            padding: 1em;
            -webkit-border-radius: 0.375em;
            -moz-border-radius: 0.375em;
            -ms-border-radius: 0.375em;
            border-radius: 0.375em; }
            /* line 176, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li a:hover,
            .l-region--mainmenu ul li .nolink:hover {
              background: rgba(59, 59, 66, 0.15); }
          /* line 180, ../sass/components/menus/_menu-main.scss */
          .l-region--mainmenu ul li:nth-child(n) {
            /**
            * Sub-menu
            */
            /**
             * When hover over item in main menu
             */
            /**
             * Last item in main menu
             */ }
            /* line 184, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li:nth-child(n) ul {
              display: none;
              position: absolute;
              -webkit-border-radius: 0.5em;
              -moz-border-radius: 0.5em;
              -ms-border-radius: 0.5em;
              border-radius: 0.5em;
              box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.06);
              padding: 0;
              top: 48px;
              left: -9.5%;
              width: 9.5em;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.2s;
              background: #FEFEFE;
              border: 0.0625em solid #5f5f6a;
              /**
               * Sub-menu links
               */ }
              /* line 201, ../sass/components/menus/_menu-main.scss */
              .l-region--mainmenu ul li:nth-child(n) ul li {
                width: 100%;
                margin: 0;
                clear: left;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
                background: none;
                border-bottom: 0.0625em solid #3b3b42;
                display: block;
                color: #fff;
                text-shadow: 0 -0.0625em 0 #3b3b42; }
                /* line 211, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li a,
                .l-region--mainmenu ul li:nth-child(n) ul li .nolink {
                  color: #3b3b42;
                  font-size: .75em;
                  border-bottom: none;
                  text-shadow: none; }
                /* line 218, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.first {
                  -webkit-border-radius: 0.5em 0.5em 0 0;
                  -moz-border-radius: 0.5em 0.5em 0 0;
                  -ms-border-radius: 0.5em 0.5em 0 0;
                  border-radius: 0.5em 0.5em 0 0;
                  border-top: 0; }
                /* line 222, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.last {
                  -webkit-border-radius: 0 0 0.5em 0.5em;
                  -moz-border-radius: 0 0 0.5em 0.5em;
                  -ms-border-radius: 0 0 0.5em 0.5em;
                  border-radius: 0 0 0.5em 0.5em;
                  border-bottom: 0.0625em solid #E8E8E8; }
                /* line 226, ../sass/components/menus/_menu-main.scss */
                .l-region--mainmenu ul li:nth-child(n) ul li.active-trail {
                  background: rgba(59, 59, 66, 0.15); }
            /* line 234, ../sass/components/menus/_menu-main.scss */
            .l-region--mainmenu ul li:nth-child(n):hover {
              /**
               * Show sub-menu
               */ }
              /* line 238, ../sass/components/menus/_menu-main.scss */
              .l-region--mainmenu ul li:nth-child(n):hover ul {
                display: block;
                opacity: 1;
                visibility: visible;
                z-index: 99; } }
  @media (min-width: 960px) {
    /* line 270, ../sass/components/menus/_menu-main.scss */
    .l-region--mainmenu ul li:nth-child(n) ul, .l-region--mainmenu ul li:nth-child(n).last ul {
      left: -.15em;
      width: 11em; } }

/* line 1, ../sass/components/menus/_menu-user.scss */
.l-usermenu {
  padding: .5em 0;
  background: #3b3b42;
  color: rgba(254, 254, 254, 0.6); }
  /* line 5, ../sass/components/menus/_menu-user.scss */
  .l-usermenu a {
    color: rgba(254, 254, 254, 0.6); }
    /* line 7, ../sass/components/menus/_menu-user.scss */
    .l-usermenu a:hover {
      color: #FEFEFE; }
  /* line 11, ../sass/components/menus/_menu-user.scss */
  .l-usermenu h1,
  .l-usermenu h2 {
    color: #FEFEFE; }
    /* line 14, ../sass/components/menus/_menu-user.scss */
    .l-usermenu h1 a,
    .l-usermenu h2 a {
      color: #FEFEFE; }
      /* line 16, ../sass/components/menus/_menu-user.scss */
      .l-usermenu h1 a:hover,
      .l-usermenu h2 a:hover {
        color: rgba(254, 254, 254, 0.6); }
  /* line 21, ../sass/components/menus/_menu-user.scss */
  .l-usermenu .l-region--usermenu {
    margin: 0 auto;
    padding: 0 1em; }
    /* line 24, ../sass/components/menus/_menu-user.scss */
    .l-usermenu .l-region--usermenu ul {
      list-style-image: none;
      padding: 0;
      margin: 0;
      text-align: right; }
      /* line 29, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu ul li {
        display: inline-block;
        margin-right: .5em; }
        /* line 32, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li.last {
          margin-right: 0; }
        /* line 35, ../sass/components/menus/_menu-user.scss */
        .l-usermenu .l-region--usermenu ul li a {
          text-decoration: none; }
    @media (min-width: 720px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 720px; } }
    @media (min-width: 960px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 960px; } }
    @media (min-width: 1280px) {
      /* line 21, ../sass/components/menus/_menu-user.scss */
      .l-usermenu .l-region--usermenu {
        width: 1280px; } }

/**
 * Paragraph Containers
 */
/* line 4, ../sass/components/paragraphs/_paragraphs-containers.scss */
.paragraphs-item-paragraph-container {
  float: left;
  width: 100%;
  clear: left; }
  /* line 8, ../sass/components/paragraphs/_paragraphs-containers.scss */
  .paragraphs-item-paragraph-container .entity-paragraphs-item {
    padding: 0; }
  /* line 11, ../sass/components/paragraphs/_paragraphs-containers.scss */
  .paragraphs-item-paragraph-container .field--name-field-container-heading {
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background: #3b3b42;
    color: #FEFEFE;
    margin-bottom: 1em; }

/**
 * Headings
 */
/* line 5, ../sass/components/paragraphs/_paragraphs-headings.scss */
.entity-paragraphs-item.paragraphs-item-paragraph-heading {
  background: #3b3b42;
  color: #FEFEFE;
  padding: 1em; }

/* line 11, ../sass/components/paragraphs/_paragraphs-headings.scss */
.field--name-field-paragraph-heading {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold; }

/* line 16, ../sass/components/paragraphs/_paragraphs-headings.scss */
.field--name-field-paragraph-sub-heading {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  font-weight: normal; }

/**
 * Status Codes
 */
/* line 4, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
.paragraphs-item-paragraph-status-codes {
  text-align: center;
  border: 0.0625em solid #a8a8a8;
  /*border-right: 0.0625em solid darken($grey-light, 25%);
  border-bottom: 0.0625em solid darken($grey-light, 25%);
  border-left: 0.0625em solid darken($grey-light, 25%);*/ }
  /* line 10, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
  .paragraphs-item-paragraph-status-codes ol,
  .paragraphs-item-paragraph-status-codes ul {
    text-align: left; }
  /* line 14, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
  .paragraphs-item-paragraph-status-codes .content {
    clear: both; }
  /* line 17, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
  .paragraphs-item-paragraph-status-codes .field {
    background: #E8E8E8;
    padding: 1em; }
    /* line 20, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .field p {
      margin: 0; }
    /* line 23, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-behavior {
      background: #cfcfcf;
      border-bottom: 0.0625em solid #a8a8a8; }
    /* line 27, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-cause {
      border-bottom: 0.0625em solid #a8a8a8; }
    /* line 30, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-fix {
      background: #fafafa; }

/* line 39, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
.field__items .field__item:nth-child(0n+1) .paragraphs-item-paragraph-status-codes {
  border-top: 0.0625em solid #a8a8a8; }

@media (min-width: 720px) {
  /* line 47, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
  .paragraphs-item-paragraph-status-codes {
    border-top: 0; }
    /* line 49, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .content {
      display: table; }
    /* line 52, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
    .paragraphs-item-paragraph-status-codes .field {
      text-align: left;
      display: table-cell; }
      /* line 55, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
      .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-behavior {
        width: 25%;
        border-bottom: none;
        border-right: 0.0625em solid #a8a8a8; }
      /* line 60, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
      .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-cause {
        width: 25%;
        border-bottom: none;
        border-right: 0.0625em solid #a8a8a8; }
      /* line 65, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
      .paragraphs-item-paragraph-status-codes .field.field--name-field-paragraph-fix {
        width: 50%; } }
@media (max-width: 719px) {
  /* line 74, ../sass/components/paragraphs/_paragraphs-status-codes.scss */
  .field__items .field__item {
    padding-bottom: 2em; } }
/**
 * General Paragraphs Styles
 */
/* line 4, ../sass/components/paragraphs/_paragraphs.scss */
.entity-paragraphs-item {
  padding: 2em 0; }

/* line 1, ../sass/components/tabs/_tabs-primary.scss */
.tabs--primary {
  border-bottom: 0;
  margin: 1em 0 .5em; }
  /* line 4, ../sass/components/tabs/_tabs-primary.scss */
  .tabs--primary li {
    border-bottom: .15em solid #967396;
    padding-bottom: .25em;
    margin-right: 0;
    padding-right: 1em; }

/* line 1, ../sass/components/testimonials/_testimonials-block.scss */
.pane-testimonials-panel-pane-1 {
  text-align: center;
  background: rgba(197, 74, 21, 0.25);
  border: 0.0625em solid #973910;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em; }
  /* line 6, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .fa-heart-o {
    font-size: 8em; }
  /* line 9, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .pane-title {
    text-align: center;
    padding: .5em;
    margin-top: 0; }
  /* line 15, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .view-display-id-panel_pane_1 {
    padding: 0 .5em .5em .5em; }
  /* line 18, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .views-field-title {
    font-weight: bold;
    /*font-size: 1.5em;
    h3 {
			font-size: .75em;
		}*/ }
  /* line 25, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .views-field-field-first-name {
    margin-top: 1em; }
  /* line 28, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .read-more {
    padding: 1em 0; }
  /* line 33, ../sass/components/testimonials/_testimonials-block.scss */
  .pane-testimonials-panel-pane-1 .view-testimonials .views-slideshow-cycle-main-frame,
  .pane-testimonials-panel-pane-1 .view-testimonials .views_slideshow_slide {
    width: 100% !Important; }

/* line 3, ../sass/components/testimonials/_testimonials-page.scss */
.view-id-testimonials.view-display-id-page_1 .views-row {
  padding-bottom: 1em;
  border-bottom: .0625em solid; }

/* line 24, ../sass/filimin.styles.scss */
body {
  background: #FEFEFE;
  min-width: 20em; }

/*# sourceMappingURL=filimin.styles.css.map */
