/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/*.l-body {
	margin: 0 auto;
	padding: 0 1em;
}*/
/* line 5, ../../../sass/layouts/sermons/variables/_grid.scss */
.l-maincontent {
  padding: 0; }

@media (min-width: 480px) {
  /*.l-body {
  	width: $smartland;
  }*/ }
@media (min-width: 720px) {
  /*.l-body {
  	width: $tabport;
  }*/
  /* line 18, ../../../sass/layouts/sermons/variables/_grid.scss */
  .l-maincontent {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }

  /* line 22, ../../../sass/layouts/sermons/variables/_grid.scss */
  .l-sidebar {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
@media (min-width: 960px) {
  /*.l-body {
  	width: $tabland;
  }*/ }
@media (min-width: 1280px) {
  /*.l-body {
  	width: $desk;
  }*/ }
/* line 2, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
.pane-sermons-panel-pane-1 a {
  text-decoration: none; }
/* line 5, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
.pane-sermons-panel-pane-1 ul {
  list-style: none; }
/* line 8, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
.pane-sermons-panel-pane-1 h2 {
  margin: 0; }
/* line 11, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
.pane-sermons-panel-pane-1 h3 {
  border-bottom: .0625em solid;
  margin: 1em 0 .5em; }
/* line 15, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
.pane-sermons-panel-pane-1 .views-row {
  margin: 0 0 .5em 1em; }
@media (min-width: 480px) {
  /* line 1, ../../../sass/layouts/sermons/components/_recent-sermons.scss */
  .pane-sermons-panel-pane-1 {
    margin: 0; } }

/* line 2, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
.node--sermon .field {
  margin: .5em 0; }
/* line 7, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
.node--sermon .field--name-field-sermon-tags .field__items .field__item {
  display: inline-block;
  margin-right: .5em; }
@media (min-width: 960px) {
  /* line 14, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
  .node--sermon .field--name-field-sermon-image {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: left; }
  /* line 18, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
  .node--sermon .field--name-field-sermon-audio-file {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; }
  /* line 22, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
  .node--sermon .field--name-field-sermon-date {
    clear: left; } }

/* line 28, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
.mediaelement-download-link {
  margin: .5em 0; }
  /* line 30, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
  .mediaelement-download-link a {
    position: relative;
    margin-bottom: .5em;
    padding-left: 1.25em; }
    /* line 34, ../../../sass/layouts/sermons/components/_sermon-pages.scss */
    .mediaelement-download-link a:before {
      position: absolute;
      font-family: FontAwesome;
      top: 0;
      left: 0;
      content: "\f019"; }

/*# sourceMappingURL=sermons.layout.css.map */
