/*
 * Main Menu
 */
/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
$nav-ul-fallback: #3d3d3d;
$nav-ul-start: #585858;
$nav-ul-end: #3d3d3d;
$navlink: #eee;
$nav-li-active-start: #f9f9f9;
$nav-li-active-end: #e5e5e5;
$nav-li-border: #444;
$nav-li-last-hover: #075BB7;
*/
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* Center horizontally */
/* Button Styles */
/* Button Colors */
/* Alternate Button Colors */
/* Set width to breakpoint width */
/* Flexbox */
/* How to use Flexbox
.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}*/
/*@font-face {
	font-family: "Sorts Mill Goudy";
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot");
	src: url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.eot?#iefix") format("embedded-opentype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.ttf") format("truetype"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.woff") format("woff"),
	url("/sites/default/files/fontyourface/local_fonts/Sorts_Mill_Goudy-italic-normal/GoudyStM-Italic-webfont.svg#sorts_mill_goudyregular") format("svg");
	font-style: normal;
	font-weight: normal;
}*/
/* No files to import found in variables/**\/* */
/* No files to import found in components/**\/* */
/* line 12, ../../../sass/layouts/default/default.layout.scss */
.l-body {
  margin: 0 auto;
  padding: 0 1em; }
  @media (min-width: 480px) {
    /* line 12, ../../../sass/layouts/default/default.layout.scss */
    .l-body {
      width: 480px; } }
  @media (min-width: 720px) {
    /* line 12, ../../../sass/layouts/default/default.layout.scss */
    .l-body {
      width: 720px; } }
  @media (min-width: 960px) {
    /* line 12, ../../../sass/layouts/default/default.layout.scss */
    .l-body {
      width: 960px; } }
  @media (min-width: 1280px) {
    /* line 12, ../../../sass/layouts/default/default.layout.scss */
    .l-body {
      width: 1280px; } }

/*# sourceMappingURL=default.layout.css.map */
