/*.l-mainmenu {
	@include breakpoint($menu-main-medium) {
		position: fixed;
		top: 0;
		width: 100%;
		height: 4em;
		z-index: 99;
	}
}*/
.l-region--mainmenu {
	background: $blue;
	clear: left;
	a,
	.nolink {
		text-decoration: none;
		color: $white;
		text-shadow: .2em .2em .5em $black;
		&:hover {
			background: rgba($black, .15);
			color: $white;
		}
	}
	ul {
		list-style-image: none;
		li {
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
			position: relative;
			&.active-trail {
				background: rgba($black, .15);
				color: $white;
			}
		}
	}

	/**********************
	 * Mobile menu styles *
	 **********************/
	
	@include breakpoint(max-width $menu-mobile) {
		.main-menu {
			.menu {
				max-height: 0;
				overflow: hidden;
				@include single-transition(max-height, 600ms, ease-in);
			}
			[data-menu-state="open"] .menu {
				max-height: 52em;
			}
			.mobile-menu-toggle {
				display: block;
				padding: .5em;
				text-align: center;
			}
			.mobile-menu-toggle:after {
				position: relative;
				font-family: fontawesome;
				content: "\f0c9";
				font-size: .75em;
				right: -.5em;
				//top: 50%;
				//-ms-transform: translateY(-50%);
				//-webkit-transform: translateY(-50%);
				//transform: translateY(-50%);
			}
			ul {
				&.menu {
					padding: 0;
					margin: 0;
				}
				li {
					display: block;
					a,
					.nolink {
						position: relative;
						display: block;
						padding: 1em 1.5em;
						border-bottom: .0625em solid $grey-light;
					}
					&.first {
						border-top: .0625em solid $grey-light;
					}
					&.expanded {
						> a:after,
						> .nolink:after {
							position: absolute;
							font-family: FontAwesome;
							content: "\f078"; // Down Arrow
							//content: "\f077"; // Up Arrow
							font-size: .75em;
							right: 2em;
							top: 50%;
							-ms-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
					ul {
						@include box-shadow(0, 0, 1em, $grey-dark, inset);
						background: $white;
						li {
							background: none;
							border-bottom: .0625em solid $grey-dark;
							&.first {
								border-top: 0;
							}
							&.last {
								border-bottom: .0625em solid $grey-light;
							}
							a,
							.nolink {
								color: #3b3b42;
								font-size: .75em;
								border-bottom: none;
								text-shadow: none;
								&:hover {
									background: rgba($black, .05);
								}
							}
						}
					}
				}
			}
		}
	}
	
	/*****************
	 * Standard menu *
	 *****************/
	
	@include breakpoint($menu-main-medium) {
		.main-menu {
			.mobile-menu-toggle {
				display: none;
			}
		}
		/**
		 * Main menu
		 */
		ul {
			//width: $tabport;
			padding: .5em 1em;
			margin: 0 auto;
			/**
			 * Main-menu links
			 */
			li {
				display: inline-block;
				position: relative;
				@include border-radius (.375em);
				/*@include add-grid(5);
				@include add-gutter(1/10);
				&:nth-child(5n+1) {
					@include grid-span(1,1);
					clear: left;
				}
				&:nth-child(5n+2) {
					@include grid-span(1,2);
				}
				&:nth-child(5n+3) {
					@include grid-span(1,3);
				}
				&:nth-child(5n+4) {
					@include grid-span(1,4);
				}
				&:nth-child(5n+5) {
					@include grid-span(1,5);
					clear: right;
				}*/
				a,
				.nolink {
					display: block;
					padding: 1em;
					@include border-radius(.375em);
					&:hover {
						background: rgba($black, .15);
					}
				}
				&:nth-child(n) {
					/**
					* Sub-menu
					*/
					ul {
						display: none;
						position: absolute;
						@include border-radius (.5em);
						box-shadow: 0 0 0 .25em rgba(0, 0, 0, 0.06);
						padding: 0;
						top: 48px;
						left: -9.5%;
						width: 9.5em;
						opacity: 0;
						visibility: hidden;
						transition: opacity 0.2s;
						background: $white;
						border: .0625em solid lighten($grey-dark, 15%);
						/**
						 * Sub-menu links
						 */
						li {
							width: 100%;
							margin: 0;
							clear: left;
							@include border-radius (0);
							background: none;
							border-bottom: .0625em solid $grey-dark;
							display: block;
							color: #fff;
							text-shadow: 0 -.0625em 0 $black;
							a,
							.nolink {
								color: #3b3b42;
								font-size: .75em;
								border-bottom: none;
								text-shadow: none;
							}
							&.first {
								@include border-radius-all (.5em, .5em, 0, 0);
								border-top: 0;
							}
							&.last {
								@include border-radius-all (0, 0, .5em, .5em);
								border-bottom: .0625em solid $grey-light;
							}
							&.active-trail {
								background: rgba($black, .15);
							}
						}
					}
					/**
					 * When hover over item in main menu
					 */
					&:hover {
						/**
						 * Show sub-menu
						 */
						ul {
							display: block;
							opacity: 1;
							visibility: visible;
							z-index: 99;
						}
					}
					/**
					 * Last item in main menu
					 */
					//&.last {
					//	/**
					//	 * Position sub-menu for last item in main menu
					//	 */
					//	ul {
					//		right: 0;
					//		left: auto;
					//	}
					//}
				}
				/*@include add-grid(12);
				@include add-gutter(1/3);*/
			}
		}
	}
	
	@include breakpoint ($menu-main-large, true) {
		ul {
			//width: $tabland;
			li {
				&:nth-child(n),
				&:nth-child(n).last {
					ul {
						left: -.15em;
						width: 11em;
					}
				}
			}
		}
	}

	@include breakpoint ($menu-main-xl, true) {
		ul {
			//width: $desk;
		}
	}
	
}