.l-usermenu {
	padding: .5em 0;
	background: $usermenu-bg;
	color: $usermenu-text;
	a {
		color: $usermenu-text;
		&:hover {
			color: $usermenu-link-hover;
		}
	}
	h1,
	h2 {
		color: $usermenu-header;
		a {
			color: $usermenu-header;
			&:hover {
				color: $usermenu-text;
			}
		}
	}
	.l-region--usermenu {
		margin: 0 auto;
		padding: 0 1em;
		ul {
			list-style-image: none;
			padding: 0;
			margin: 0;
			text-align: right;
			li {
				display: inline-block;
				margin-right: .5em;
				&.last {
					margin-right: 0;
				}
				a {
					text-decoration: none;
				}
			}
		}

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}