.node--service--full {
	.field--name-field-service-representative-img {
		@include breakpoint($smartland) {
			@include grid-span(6, 7);
			img {
				margin-left: 1em;
				margin-bottom: 1em;
			}
		}
		@include breakpoint($tabland) {
			@include grid-span (4, 9);
		}
	}
}