.view-services {
	.views-row {
		border: .0625em solid $grey-light;
    margin-bottom: 1em;
    //text-align: center;
    line-height: 1.5em;
  	a {
  		text-decoration: none;
  	}
    .views-field-title {
    	padding: 1em;
    	font-weight: bold;
    }
    .views-field-field-service-brief-description {
    	padding: 0 1em 1em;
    }
    @include breakpoint ($smartland) {
    	min-height: 21em;
			&:nth-child(2n+1) {
				@include grid-span(6, 1);
				clear: left;
			}
			&:nth-child(2n+2) {
				@include grid-span(6, 7);
				clear: right;
			}
		}
		@include breakpoint ($tabport) {
			&:nth-child(3n+1) {
				@include grid-span(4, 1);
				clear: left;
			}
			&:nth-child(3n+2) {
				@include grid-span(4, 5);
			}
			&:nth-child(3n+3) {
				@include grid-span(4, 9);
				clear: right;
			}
		}
		@include breakpoint ($tabland) {
			min-height: 22em;
		}
		@include breakpoint ($desk, true) {
			&:nth-child(4n+1) {
				@include grid-span(3, 1);
				clear: left;
			}
			&:nth-child(4n+2) {
				@include grid-span(3, 4);
			}
			&:nth-child(4n+3) {
				@include grid-span(3, 7);
			}
			&:nth-child(4n+4) {
				@include grid-span(3, 10);
				clear: right;
			}
		}
	}
}