.pane-testimonials-panel-pane-1 {
	text-align: center;
	background: rgba($accent-color-alt, .25);
	border: .0625em solid darken($accent-color-alt, 10%);
	@include border-radius (.5em);
	.fa-heart-o {
		font-size: 8em;
	}
	.pane-title {
		text-align: center;
		@extend .block-title-alt;
		padding: .5em;
		margin-top: 0;
	}
	.view-display-id-panel_pane_1 {
		padding: 0 .5em .5em .5em;
	}
	.views-field-title {
		font-weight: bold;
    /*font-size: 1.5em;
    h3 {
			font-size: .75em;
		}*/
	}
	.views-field-field-first-name {
		margin-top: 1em;
	}
	.read-more {
		padding: 1em 0;
	}
	//Fix to make text responsive on window size change
	.view-testimonials {
		.views-slideshow-cycle-main-frame,
		.views_slideshow_slide {
			width: 100% !Important;
		}
	}
}