@include breakpoint($smartland, true) {
	.business-info {
		@include grid-span(6, 1);
	}
	.social-media {
		@include grid-span(6, 7);
	}
	.legal {
		@include grid-span(12, 1);
		clear: left;
		text-align: center;
	}
}