.l-footer {
	//.pane-system-main-menu,
	.menu-wrapper,
	.menu,
	.social {
		overflow: hidden;
	}
	ul {
		overflow: hidden;
		li {
			display: inline-block;
		}
		&.fa-ul {
			overflow: visible;
			li {
				display: list-item;
			}
		}
	}
	a {
		text-decoration: none;
	}
}