/**
 * This makes the footer sticky even when there's little content:
 * Adapted from:
 * http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

.l-page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -15em;
}
.l-footer,
.push {
	height: 15em;
	clear: both;
}