$black: #3b3b42;
$white: #FEFEFE;
$grey-dark: #3b3b42;
$grey-light: #E8E8E8;
$purple-dark: #58166C;
$purple-light: #967396;
$orange: #E64B2F;
$green: #8f885e;

$accent-dark: $purple-dark;
$accent-light: $purple-light;
$accent-color: $green;
$text: $black;
$link: $accent-color;
$link-hover: $grey-dark;

/*
 * User Menu
 */
$usermenu-bg: $grey-dark;
$usermenu-header: $white;
$usermenu-text: rgba($white, .6);
$usermenu-link-hover: $white;

/*
 * Highlighted
 */
$highlighted-bg: $grey-dark;
$highlighted-header: $white;
$highlighted-text: rgba($white, .6);
$highlighted-link-hover: $white;

/*
 * Content Top
 */
$content-top-bg: $grey-dark;
$content-top-header: $white;
$content-top-text: rgba($white, .6);
$content-top-link-hover: $white;

 /*
 * Content bottom
 */
$content-bottom-bg: rgba($black, .07);
$content-bottom-header: $green;
$content-bottom-text: $grey-dark;
$content-bottom-link-hover: $grey-dark;

/*
 * Footer
 */
$footer-bg: $grey-dark;
$footer-header: $white;
$footer-text: rgba($white, .6);
$footer-link-hover: $white;

/*
 * Navigation specific colors
 */

//$nav-ul-fallback: #3d3d3d;
//$nav-ul-start: #585858;
//$nav-ul-end: #3d3d3d;
//$navlink: #eee;
//$nav-li-active-start: #f9f9f9;
//$nav-li-active-end: #e5e5e5;
//$nav-li-border: #444;
//$nav-li-last-hover: #075BB7;

/*
 * Lighten and Darken colors
 */

 //lighten($base-color, 10%);
 //darken($base-color, 10%);

/*
 * Add alpha transparency
 */
 
 //rgba( $base-color, .7 )