// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "../../variables/**/*";


// Import components specific to this layout.
@import "variables/**/*";
@import "components/**/*";

.l-body {
	margin: 0 auto;
	padding: 0 1em;
	@include breakpoint-widths();
}