input {
	width: 100%;
	outline: none;
	background: $grey-light;
	border: solid .0625em rgba($black, .2);
	box-shadow: 0 0 1em $white;
	padding: .5em 2em .5em 1em;
	@include border-radius (.25em);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input:focus {
	background-color: $white;
	border-color: $grey-dark;
	@include box-shadow (0, 0, 5px, rgba($accent-color,.5));
}
	
input:-moz-placeholder {
	color: rgba($black, .5);
}

input::-webkit-input-placeholder {
	color: rgba($black, .5);
}