body {
	color: $text;
	a {
		color: $link;
		&:hover {
			color: $link-hover;
		}
	}
}

blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	border-left-width: 5px;
	padding: 0.125em 0.5em 0.125em 1.25em;
	margin: 1em 3em;
}
