.pane-upcoming-events-panel-pane-1,
.view-id-upcoming_ministry_events {
	.view-header {
		text-align: center;
		background: $black;
		padding: .5em;
		p {
			margin: 0;
			a {
				color: rgba($white, .6);
				&:hover {
					color: $white;
				}
			}
		}
	}
	.view-content {
		border: .0625em solid rgba($black, .1);
	}
	.views-row {
		padding: 1em 1em;
	}
	.views-row-even {
		background: rgba($black, .1);
	}
	ul {
		li {
			list-style: none;
		}
		&.pager {
			border-right: .0625em solid rgba($black, .1);
			border-bottom: .0625em solid rgba($black, .1);
			border-left: .0625em solid rgba($black, .1);
			margin: 0;
			padding: .5em;
		}
	}
}

.pane-upcoming-events-panel-pane-1 {
	.view-header {
		@include breakpoint ($tabport, true) {
			display: none;
		}
	}
}
.pane-upcoming-events-panel-pane-1,
.pane-upcoming-ministry-events-panel-pane-1 {
	h2 {
		text-align: center;
		background: $black;
		color: $white;
		font-size: 1em;
		margin: 1em 0 0;
		padding: .5em;
	}	
}