/**
 * Status Codes
 */
.paragraphs-item-paragraph-status-codes {
	text-align: center;
	border: 0.0625em solid darken($grey-light, 25%);
	/*border-right: 0.0625em solid darken($grey-light, 25%);
	border-bottom: 0.0625em solid darken($grey-light, 25%);
	border-left: 0.0625em solid darken($grey-light, 25%);*/
	ol,
	ul {
		text-align: left;
	}
	.content {
		clear: both;
	}
	.field {
		background: $grey-light;
		padding: 1em;
		p {
			margin: 0;
		}
		&.field--name-field-paragraph-behavior {
			background: darken($grey-light, 10%);
			border-bottom: 0.0625em solid darken($grey-light, 25%);
		}
		&.field--name-field-paragraph-cause {
			border-bottom: 0.0625em solid darken($grey-light, 25%);
		}
		&.field--name-field-paragraph-fix {
			background: #fafafa;
		}
	}
}

.field__items {
	.field__item {
		&:nth-child(0n+1) {
			.paragraphs-item-paragraph-status-codes {
				border-top: 0.0625em solid darken($grey-light, 25%);
			}
		}
	}
}

@include breakpoint ($tabport, true) {
	.paragraphs-item-paragraph-status-codes {
		border-top: 0;
		.content {
			display: table;
		}
		.field {
			text-align: left;
			display: table-cell;
			&.field--name-field-paragraph-behavior {
				width: 25%;
				border-bottom: none;
				border-right: 0.0625em solid darken($grey-light, 25%);
			}
			&.field--name-field-paragraph-cause {
				width: 25%;
				border-bottom: none;
				border-right: 0.0625em solid darken($grey-light, 25%);
			}
			&.field--name-field-paragraph-fix {
				width: 50%;
			}
		}
	}
}

@include breakpoint (max-width $mobile) {
	.field__items {
		.field__item {
			padding-bottom: 2em;
		}
	}
}