/**
 * Paragraph Containers
 */
.paragraphs-item-paragraph-container {
	float: left;
	width: 100%;
	clear: left;
	.entity-paragraphs-item {
		padding: 0;
	}
	.field--name-field-container-heading {
		padding: 1em;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
		background: $grey-dark;
		color: $white;
		margin-bottom: 1em;
	}
}
