/**
 * Headings
 */
.entity-paragraphs-item {
	&.paragraphs-item-paragraph-heading {
		background: $grey-dark;
		color: $white;
		padding: 1em;
	}
}
.field--name-field-paragraph-heading {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}
.field--name-field-paragraph-sub-heading {
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
	font-weight: normal;
}
