.contact-block-map {
	strong {
		display: block;
		margin-bottom: .5em;
	}
	&.contact-block {
		border: .25em solid $accent-color;
    padding: 1em;
    margin-bottom: 1em;
	}
	&.contact-map {
		margin-bottom: 1em;
	}
	@include breakpoint($tabport, true) {
		&.contact-block {
			@include grid-span(4, 1);
		}
		&.contact-map {
			@include grid-span(8, 5);
		}
	}
}

.pane-page-content {
	clear: both;
}