.l-region--help {
	margin: 0 auto;
	padding: 0 1em;

	@include breakpoint ($smartland, true) {
		width: $smartland;
	}

	@include breakpoint ($tabport, true) {
		width: $tabport;
	}

	@include breakpoint ($tabland, true) {
		width: $tabland;
	}

	@include breakpoint ($desk, true) {
		width: $desk;
	}

}