body {
	background: $white;
	min-width: 20em;
}

.l-body {
	margin: 0 auto;
	//padding: 1em 0;
	// /overflow: hidden;

/*	@include breakpoint ($smartland, true) {
		width: $smartland;
	}

	@include breakpoint ($tabport, true) {
		width: $tabport;
	}

	@include breakpoint ($tabland, true) {
		width: $tabland;
	}

	@include breakpoint ($desk, true) {
		width: $desk;
	}*/

}

.l-main {
	clear: left;
}