.l-contentbottom {
	padding: 1em 0 3em;
	background: $content-bottom-bg;
	color: $content-bottom-text;
	overflow: hidden;
	a {
		color: $content-bottom-text;
		&:hover {
			color: $content-bottom-link-hover;
		}
	}
	h1,
	h2 {
		color: $content-bottom-header;
		a {
			color: $content-bottom-header;
			&:hover {
				color: $content-bottom-text;
			}
		}
	}
	.l-region--contentbottom {
		margin: 0 auto;
		padding: 0 1em;

		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}