.block-title {
	display: block;
	text-align: center;
	background-color: $accent-color;
	color: $white;
	border: .0625em solid darken($accent-color, 10%);
	@include border-radius-all (.25em, .25em, 0, 0);
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
}

.block-title-alt {
	@extend .block-title;
	background-color: $accent-color-alt;
	border: .0625em solid darken($accent-color-alt, 10%);
}