.btn {
	display: block;
	text-align: center;
	background-color: $accent-color;
	color: $white;
	border: .0625em solid darken($accent-color, 10%);
	@include border-radius (.25em);
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
	&:hover {
		color: darken($white, 10%);
		background-color: darken($accent-color, 10%);
	}
}

.btn-alt {
	@extend .btn;
	background-color: $accent-color-alt;
	border: .0625em solid darken($accent-color-alt, 10%);
	&:hover {
		background-color: darken($accent-color-alt, 10%);
	}
}