// Header height. Also used for toggle-button height to center it vertically
$header-height: 6em;

.l-region--header {
	float: left;
	clear: both;
	height: $header-height;
	width: 100%;
	@include breakpoint ($tabport) {
		float: none;
		margin: 0 auto;
		padding: 0 1em;
		width: $tabport;
	}
	@include breakpoint ($tabland) {
		width: $tabland;
	}
	@include breakpoint ($desk, true) {
		width: $desk;
	}
}
.pane-logo-search {
	@include grid-span (10, 1);
	position: relative;
	@include translateY(50%);
}
.menu-toggle-button {
	@include grid-span (2, 11);
	height: $header-height;
}
.pane-system-main-menu {
	@include grid-span (12, 1);
	clear: both;
}

@include breakpoint ($tabland, true) {
	.l-region--header {
		height: 7.5em;
		//position: relative;
	}
	.pane-logo-search {
		@include grid-span (12, 1);
		@include translateY(0%);
		margin: 1em 0;
	}
	.pane-system-main-menu {
		position: absolute;
		bottom: 0;
	}
}
