.l-header {
}

.l-region--header {
		background: $white;
}
/*
	overflow: visible;
	position: relative;
	
	.pane-page-logo {
		@include grid-span (6, 1);
		clear: left;
		@include breakpoint ($tabland, true) {
			@include grid-span (4, 1);
			clear: left;
		}
		img {
			max-width: 50%;
			//border-radius: .75em;
			//box-shadow: 0 0 2em $white;
			//@include breakpoint ($desk, true) {
			//	border-radius: 1.5em;
			//}
		}
	}
	
	.pane-search-form {
		@include grid-span (6, 7);
		clear: right;
		@include breakpoint ($tabland, true) {
			@include grid-span (8, 5);
			clear: right;
		}
	}

	.pane-logo-search {
		position: relative;
		top: 0;
		padding: 2em;
	}
}*/
