.view-our-team {
	.views-row {
		border-bottom: .0625em solid darken($grey-light, 20%);
		margin-bottom: 1em;
		float: left;
		&.views-row-last {
			border-bottom: 0;
		}
	}
	.views-field-field-team-member-photo {
		text-align: center;
	}
	.views-field-title {
		font-size: 2em;
		text-align: center;
		a {
			text-decoration: none;
		}
	}
	@include breakpoint ($smartland) {
		.views-field-field-team-member-photo {
			@include grid-span (6, 7);
			clear: right;
			margin: 0 0 1em 1em;
		}
		.views-field-title {
			text-align: left;
		}
	}
	@include breakpoint ($tabport) {
		.views-field-field-team-member-photo {
			@include grid-span (4, 9);
			clear: right;
			margin: 0 0 1em 1em;
		}
	}
	@include breakpoint($tabland) {
		/*.views-row {
			&:nth-child(2n+1) {
				@include grid-span(6, 1);
				clear: left;
			}
			&:nth-child(2n+2) {
				@include grid-span(6, 7);
				clear: right;
			}
		}*/
		.views-field-field-team-member-photo {
			@include grid-span (3, 1);
			clear: left;
			margin: 0 1em 1em 0;
		}
	}
}