th {
	&.views-field-commerce-unit-price,
	&.views-field-quantity,
	&.views-field-commerce-total {
		border-left: .0625em solid rgba($black, .1);
	}
}

td {
	&.views-field-commerce-unit-price,
	&.views-field-quantity,
	&.views-field-commerce-total {
		border-left: .0625em solid $white;
	}
}

.views-field-field-donation-note {
	border-top: .0625em solid $white;
	border-bottom: .0625em solid $white;
}

.commerce-order-handler-area-order-total {
	margin-top: .5em;
	tbody {
		border-top: 0.125em solid rgba(59, 59, 66, .5);
	}
}