/*
 * User Menu
 */
/*
 * Highlighted
 */
/*
 * Content Top
 */
/*
* Content bottom
*/
/*
 * Footer
 */
/*
 * Navigation specific colors
 */
/*
 * Lighten and Darken colors
 */
/*
 * Add alpha transparency
 */
/* Grid */
/* Default Breakpoints */
/**
 * Most mobile styles apply to screens under 720px
 * ie: Menu and Calendar
 * Since these may already have styles from modules,
 * we use a max-width media query 1px below the 720px
 * media query. This way we don't duplicate the original
 * styles, thus trippling our code. (set in module,
 * reset for mobile in theme, and re-reset for large screens.)
 */
/**
 * Main Menu Breakpoints
 * (Min Width)
 */
/**
 * Dropdown Menu Breakpoint
 * (Max Width. Javascript Dropdown.)
 */
/**
 * Mobile Calendar
 */
/* Footer Menu Breakpoints */
/* Logo Breakpoints */
/* Border Radius */
/* Box Shadow */
/* Center vertically */
/* No files to import found in variables/**\/* */
/* line 1, ../../../sass/layouts/home/components/_announcements.scss */
#views_slideshow_cycle_teaser_section_special_announcements-panel_pane_1 {
  width: 100% !Important; }
  /* line 3, ../../../sass/layouts/home/components/_announcements.scss */
  #views_slideshow_cycle_teaser_section_special_announcements-panel_pane_1 div {
    width: 100% !Important; }
  /* line 6, ../../../sass/layouts/home/components/_announcements.scss */
  #views_slideshow_cycle_teaser_section_special_announcements-panel_pane_1 p {
    margin: 1em 0; }

/* line 1, ../../../sass/layouts/home/components/_highlighted.scss */
.l-highlighted {
  background: #3b3b42 url(/sites/all/themes/west_ridge/images/vinyard.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #FEFEFE;
  border-top: 0.125em solid #3b3b42;
  border-bottom: 0.125em solid #3b3b42;
  height: 20em; }
  /* line 11, ../../../sass/layouts/home/components/_highlighted.scss */
  .l-highlighted p {
    margin: 1em 0 2em;
    text-shadow: 0.125em 0.125em 0.125em #3b3b42; }
  /* line 15, ../../../sass/layouts/home/components/_highlighted.scss */
  .l-highlighted ul {
    list-style: none;
    padding: 0; }
    /* line 18, ../../../sass/layouts/home/components/_highlighted.scss */
    .l-highlighted ul li {
      padding: 1em .25em; }
      /* line 20, ../../../sass/layouts/home/components/_highlighted.scss */
      .l-highlighted ul li.home-featured {
        display: inline; }
        /* line 22, ../../../sass/layouts/home/components/_highlighted.scss */
        .l-highlighted ul li.home-featured a {
          background: rgba(232, 232, 232, 0.75);
          border-radius: .5em;
          padding: 1em;
          color: #3b3b42;
          text-decoration: none;
          box-shadow: .125em .125em .125em #3b3b42; }
          /* line 29, ../../../sass/layouts/home/components/_highlighted.scss */
          .l-highlighted ul li.home-featured a:hover {
            background: rgba(232, 232, 232, 0.5); }
      /* line 34, ../../../sass/layouts/home/components/_highlighted.scss */
      .l-highlighted ul li.last {
        margin-bottom: 0; }
  /* line 41, ../../../sass/layouts/home/components/_highlighted.scss */
  .l-highlighted p {
    font-size: 1.75em; }
  /* line 46, ../../../sass/layouts/home/components/_highlighted.scss */
  .l-highlighted ul li.home-featured {
    margin-right: 1em; }
    /* line 48, ../../../sass/layouts/home/components/_highlighted.scss */
    .l-highlighted ul li.home-featured a {
      font-size: 1.25em;
      line-height: 2em; }
    /* line 52, ../../../sass/layouts/home/components/_highlighted.scss */
    .l-highlighted ul li.home-featured.last {
      margin-right: 0; }

/* line 61, ../../../sass/layouts/home/components/_highlighted.scss */
.l-region--highlighted {
  border-top: 0.25em solid rgba(254, 254, 254, 0.5);
  margin-top: 1em; }

/* line 2, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row {
  text-align: center;
  margin-bottom: 1em; }
  /* line 5, ../../../sass/layouts/home/components/_homepage-blocks.scss */
  .view-id-homepage_blocks .views-row a {
    text-decoration: none; }
  /* line 9, ../../../sass/layouts/home/components/_homepage-blocks.scss */
  .view-id-homepage_blocks .views-row:hover img {
    opacity: .75; }
/* line 14, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks img {
  width: 100%; }
/* line 17, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row:nth-child(2n+1) {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: left; }
/* line 21, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row:nth-child(2n+2) {
  width: 49.15254%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }
/* line 27, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row:nth-child(3n+1) {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: left; }
/* line 31, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row:nth-child(3n+2) {
  width: 32.20339%;
  float: left;
  margin-right: -100%;
  margin-left: 33.89831%;
  clear: none; }
/* line 34, ../../../sass/layouts/home/components/_homepage-blocks.scss */
.view-id-homepage_blocks .views-row:nth-child(3n+3) {
  width: 32.20339%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  clear: right; }

/* line 1, ../../../sass/layouts/home/components/_next-3.scss */
.pane-upcoming-events-panel-pane-2 {
  text-align: center; }
  /* line 3, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 h2 {
    margin: 0 0 1em; }
  /* line 6, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 a {
    text-decoration: none;
    font-weight: bold; }
    /* line 9, ../../../sass/layouts/home/components/_next-3.scss */
    .pane-upcoming-events-panel-pane-2 a:hover {
      color: rgba(59, 59, 66, 0.75); }
  /* line 13, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .views-row {
    text-align: center;
    vertical-align: top; }
    /* line 16, ../../../sass/layouts/home/components/_next-3.scss */
    .pane-upcoming-events-panel-pane-2 .views-row.views-row-1 {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; }
    /* line 19, ../../../sass/layouts/home/components/_next-3.scss */
    .pane-upcoming-events-panel-pane-2 .views-row.views-row-2 {
      width: 32.20339%;
      float: left;
      margin-right: -100%;
      margin-left: 33.89831%;
      clear: none; }
    /* line 22, ../../../sass/layouts/home/components/_next-3.scss */
    .pane-upcoming-events-panel-pane-2 .views-row.views-row-3 {
      width: 32.20339%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
  /* line 27, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .next-3-date .date {
    font-size: 3em;
    font-weight: bold; }
  /* line 32, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .views-field-field-event-date-2 {
    border-top: 0.25em solid rgba(59, 59, 66, 0.75);
    margin: .25em 0 0;
    padding: .25em 0 0; }
    /* line 36, ../../../sass/layouts/home/components/_next-3.scss */
    .pane-upcoming-events-panel-pane-2 .views-field-field-event-date-2.date-display-single {
      font-size: .75em;
      font-style: italic; }
  /* line 42, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .views-row {
    text-align: left; }
  /* line 45, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .views-field-field-event-date-1 {
    float: left;
    border-right: 0.5em solid rgba(59, 59, 66, 0.75);
    padding-right: .75em;
    margin-right: .75em;
    text-align: center; }
  /* line 52, ../../../sass/layouts/home/components/_next-3.scss */
  .pane-upcoming-events-panel-pane-2 .views-field-field-event-date-2 {
    border: 0;
    margin: 0 0 0 .25em;
    padding: 0 0 0 .5em; }

/*# sourceMappingURL=home.layout.no-query.css.map */
