.l-contenttop {
	padding: 1em 0;
	//margin-bottom: .5em;
	background: $content-top-bg;
	color: $content-top-text;
	text-align: center;
	p {
		margin: 0;
	}
	a {
		color: $content-top-text;
		&:hover {
			color: $content-top-link-hover;
		}
	}
	h1,
	h2 {
		color: $content-top-header;
		a {
			color: $content-top-header;
			&:hover {
				color: $content-top-text;
			}
		}
	}
	.l-region--contenttop {
		margin: 0 auto;
		padding: 0 1em;
		position: relative;
		@include breakpoint ($tabport, true) {
			width: $tabport;
		}

		@include breakpoint ($tabland, true) {
			width: $tabland;
		}

		@include breakpoint ($desk, true) {
			width: $desk;
		}
	}
}