.l-region--header {
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
	position: relative;
	.pane-page-logo {
		@include grid-span (6, 1);
		clear: left;
		@include breakpoint ($tabland, true) {
			@include grid-span (4, 1);
			clear: left;
		}
	}

	@include breakpoint ($smartland, true) {
		width: $smartland;
	}
	@include breakpoint ($tabport, true) {
		width: $tabport;
	}
	@include breakpoint ($tabland, true) {
		width: $tabland;
	}
	@include breakpoint ($desk, true) {
		width: $desk;
	}
}