/**
 * Create the responsive grid
 */

.view-our-staff {
	.views-row {
		margin-bottom: 1em;
		padding: 1em;
		border-radius: .375em;
		&:hover {
			background: rgba($black, .15);
		}
	}
}

@include breakpoint($smartland, true) {
	.view-our-staff {
		.views-row {
			min-height: 136px;
			.views-field-field-staff-photo {
				float: left;
				margin-right: 1em;
			}
		}
	}
}

@include breakpoint($tabport, true) {
	.view-our-staff {
		.views-row {
		}
		.views-row:nth-child(2n+1) {
			@include grid-span(6, 1);
			clear: left;
		}
		.views-row:nth-child(2n+2) {
			@include grid-span(6, 7);
			clear: right;
		}
	}
}

@include breakpoint($tabland, true) {
	.view-our-staff {
		.views-row {
			.views-field-field-staff-photo {
				float: left;
				margin-right: 1em;
			}
		}
	}
}

@include breakpoint($desk, true) {
	.view-display-id-page_1 {
		.views-row {
		}
		.views-row:nth-child(3n+1) {
			@include grid-span(4, 1);
			clear: left;
		}
		.views-row:nth-child(3n+2) {
			@include grid-span(4, 5);
		}
		.views-row:nth-child(3n+3) {
			@include grid-span(4, 9);
			clear: right;
		}
	}
}