body {
	color: $text;
	a {
		color: $link;
		&:hover {
			color: $link-hover;
		}
	}
}
blockquote {
	position: relative;
	margin: 1em 3em;
	min-height: 2em;
	border-left: .25em solid;
	padding-left: .5em;
	&:before {
		position: absolute;
		font-family: FontAwesome;
		left: -1.5em;
		content: "\f10d";
		font-size: 2em;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}