.view-homepage-slider {
	a {
		text-decoration: none;
	}
	.homepage-slider-info-wrapper {
		position: absolute;
		top:0;
		width: 100%;
	}
	.homepage-slider-info {
		margin: 1em;
	}
	// Individual field styles
	.homepage-slider-title {
		margin-bottom: .5em;
		font-size: 1.5em;
		text-shadow: .125em .125em .5em $black;
	}
	.homepage-slider-teaser {
		font-size: .75em;
		text-shadow: .125em .125em .5em $black;
	}
	.homepage-slider-url {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	@include breakpoint ($smartland) {
		.homepage-slider-title {
			font-size: 2em;
			width: $smartland;
			padding-right: 1em;
		}
		.homepage-slider-teaser {
			font-size: 1em;
			width: $smartland;
			padding-right: 2em;
		}
	}
	@include breakpoint ($tabport) {
		.homepage-slider-info-wrapper {
			padding: 1em;
		}
		.homepage-slider-title {
			font-size: 2.5em;
			width: $tabport;
			padding-right: .75em;
		}
		.homepage-slider-teaser {
			width: $tabport;
		}
		.homepage-slider-url {
			bottom: 3em;
			left: 1em
		}
	}
	@include breakpoint ($tabland) {
		.homepage-slider-info-wrapper {
			padding: 2em;
		}
		.homepage-slider-url {
			bottom: 5em;
			left: 2em;
		}
	}
	
	// Background image styles
	.cssback {
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}

	// Make the slides responsive
	.views_slideshow_cycle_main {
		width: 100%;
		float: left;
		.views-slideshow-cycle-main-frame,
		.views-slideshow-cycle-main-frame-row {
			width: 100% !important;
			height: auto !important;
		}
		.views_slideshow_cycle_slide {
			overflow: hidden;
		}
		img {
			min-height: 100%;
			object-fit: cover;
			object-position: 50%;
		}
	}
	// Set slide height for various breakpoints
}

.view-homepage-slider,
.view-homepage-slider .views-row,
.homepage-slider-info-wrapper {
	height: 13em;
	@include breakpoint ($smartland) {
		height: 19em;
	}
	@include breakpoint ($tabport) {
		height: 22em;
	}
	@include breakpoint ($tabland) {
		height: 25em;
	}
	@include breakpoint ($desk) {
		height: 30em;
	}
}