// Border color that is used in various places
// at different breakpoints
$info-boxes-border-color: rgba($black, .2);

.pane-homepage-info-boxes {
	position: relative;
	min-height: 5em;
	.panel-pane {
		border-bottom: .1em solid $info-boxes-border-color;
		p {
			margin: 1em;
		}
		&.appointment {
			border: 0;
		}

		@include breakpoint ($smartland) {
			border-bottom: 0;
			&.contact {
				@include grid-span (6, 1);
			}
			&.hours {
				@include grid-span (6, 7);
			}
			&.appointment {
				@include grid-span (12, 1);
				clear: left;
				border-top: .1em solid $info-boxes-border-color;
			}
		}
		
		@include breakpoint ($tabport, true) {
			border-right: .1em solid $info-boxes-border-color;
			position: absolute;
			@include translateY(50%);
			font-size: .8em;
			p {
				margin: 0;
			}
			&.contact {
				@include grid-span (4, 1);
			}
			&.hours {
				@include grid-span (4, 5);
			}
			&.appointment {
				@include grid-span (4, 9);
				border-top: 0;
				padding-top: 0;
				position: relative;
    		@include translateY(0%);
    		p {
    			margin-top: 1em;
    		}
			}
		}
	}
}