.view-sermons {
	&.view-display-id-page {
		.views-row {
			float: left;
			clear: both;
			width: 100%;
			margin-bottom: 1em;
			padding: .5em;
			&.views-row-even {
				background: rgba($black, .1);
			}
			.views-field {
				float: left;
				clear: both;
				width: 100%;
				.field-content {
					float: left;
					clear: both;
					width: 100%;
				}
			}
		}
	}
}

.sermonCard {
	float: left;
	clear: both;
	width: 100%;
	.sermonImage {
		@include grid-span (6, 1);
		clear: left;
		margin-bottom: .5em;
		img {
			border: .25em solid #3b3b42;
		}
	}
	.sermonAudio {
		@include grid-span (6, 7);
		clear: right;
		ul {
			border-left: .25em solid $link;
  			list-style: none;
  			padding-left: 1em;
  			margin: 0;
  			li {
  				padding: .5em 0 .25em;
  				a {
  					text-decoration: none;
  				}
  			}
  		}
	}
	.sermonContent {
		@include grid-span (12, 1);
		clear: left;
		p {
			margin: 0;
		}
		h3 {
			margin: .5em 0;
		}
		.sermonDate {
			@include grid-span (12, 1);
			clear: left;
			font-weight: bold;
		}
		.sermonTitle {
			@include grid-span (12, 1);
			clear: left;
			font-weight: bold;
		}
		.sermonScripture {
			@include grid-span (12, 1);
			clear: left;
		}
	}
	@include breakpoint ($tabland, true) {
		.sermonImage {
			@include grid-span (3, 1);
			clear: left;
		}
		.sermonAudio {
			@include grid-span (3, 10);
			clear: right;
		}
		.sermonContent {
			@include grid-span (6, 4);
		}
	}
}