/*.l-body {
	margin: 0 auto;
	padding: 0 1em;
}*/
.l-maincontent {
	padding: 0;
}

@include breakpoint ($smartland, true) {
	/*.l-body {
		width: $smartland;
	}*/
}
@include breakpoint ($tabport, true) {
	/*.l-body {
		width: $tabport;
	}*/
	.l-maincontent {
		@include grid-span (8, 1);
		clear: left;
	}
	.l-sidebar {
		@include grid-span (4, 9);
		clear: right;
	}
}
@include breakpoint ($tabland, true) {
	/*.l-body {
		width: $tabland;
	}*/
}
@include breakpoint ($desk, true) {
	/*.l-body {
		width: $desk;
	}*/
}