.user-login {
	margin: 0 auto;
	@include breakpoint($smartland) {
		width: $smartland;
		padding-right: 2em;
	}
	@include breakpoint($tabport) {
		width: $tabport;
	}
	@include breakpoint($tabland) {
		width: $tabland;
	}
	@include breakpoint($desk, true) {
		width: $desk;
	}
}