.btn {
	display: block;
	text-align: center;
	margin: 1em;
	.btn-link {
		@include button-styles();
		@include button-colors();
	}
	.btn-link-alt {
		@include button-styles();
		@include button-colors-alt();
	}
	.btn-help {
		font-size: .75em;
	}
}

